
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">
        <!-- BEGIN: Page heading-->
        <!-- <div class="page-heading">
            <h1 class="page-title page-title-sep">Stocks Produits</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard" ><i class="la la-home font-20"></i></a></li>

            </ol>
        </div> -->
        <!-- BEGIN: Page content-->
        <div>
          <div class="card">
              <div class="card-body">
                  <h2 class="box-title">Journal des Notifications</h2>
                  <div class="flexbox mb-4">

                  </div>
                  <div class="productsCheck" >
                    <div class="tab-pane h-100 p-4" id="sidenav-tab-log">
                      <div class="position-relative custom-scroll h-100">
                          <ul *ngFor="let notif of ordersNotifs | paginate: { itemsPerPage: 12, currentPage: p }" class="timeline timeline-default outline-points" >
                              <li class="timeline-item">{{ notif['data'].message }}
                                <span class="font-13 text-muted ml-2">{{ notif.created_at | date:'dd/MM/yyyy HH:mm'  }}</span>
                                <span *ngIf="notif.read_at != null" class="badge badge-dark badge-pill ml-2">Lu</span>
                                <span *ngIf="notif.read_at == null" class="badge badge-danger badge-pill ml-2">Non Lu</span>

                              </li>
                          </ul>
                      </div>

                  </div>
                  <div class="row " *ngIf="ordersNotifs.length! > 0">
                    <nav aria-label="Page navigation d-flex justify-content-center">
                      <pagination-controls class="my-pagination float-right" (pageChange)="p = $event"
                      previousLabel="Précédent"
                      nextLabel="Suivant"></pagination-controls>
                    </nav>
                  </div>
                  <div *ngIf="ordersNotifs.length! <= 0">
                      <span class="text-center"><i class="fa fa-alert"></i> Aucune notification recue actuellement !!!</span>
                  </div>

                  </div>

                  <br/>

              </div>
          </div>
        </div><!-- END: Page content-->
      </div>
    </div>
  </div>
</div>

<!-- <script src="../assets_leden/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets_leden/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets_leden/vendors/jquery-validation/dist/jquery.validate.min.js"></script>CORE SCRIPTS
<script src="../assets_leden/js/app.min.js"></script> -->

