<app-header></app-header>
<section class="page-header" style="margin-top: 5%">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Page Non Trouvée !!!</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Page non trouvée</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="page-wrapper section">
  <div class="conttainer">
    <div class="box-wrapper">
      <div class="error-content py-3">
          <h1 class="error-code text-danger text-center font-weight-normal" style="font-size: 120px">404</h1>
          <h3 class="text-muted mb-5 text-center">Désolé mais nous n'avons pas trouvé la page que vous recherchez</h3>
          <div class="mb-5 text-center"><a class="btn btn-outline-warning" routerLink="/"><span class="btn-icon"><i class="material-icons">arrow_back</i>Allez à l'accueil</span></a></div>
          <!-- <form class="input-group-icon input-group-icon-left input-group-lg mb-4" action="#" method="POST"><span class="input-icon font-16"><i class="ti-search"></i></span><input class="form-control shadow" type="text" placeholder="Rechercher ..."></form> -->
      </div>
      </div>
  </div>
</section>
<app-footer-ecom></app-footer-ecom>
