nav.nav--hidden {
  transform: translateY(-100%);
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: #2980b9;
  padding: 0 2rem;
  border-bottom: 1px solid #f4b907;
  box-shadow: 1px 1px 1px rgb(219, 216, 216);
}
