<nav ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'" class="navbar navbar-expand-lg navbar-light fixed-top bg-white w-100 navigation" style="margin-bottom: 15%;" id="navbar">
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/">LEDEN POS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
      aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/"><i class="fa fa-home"></i> Accueil </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/shop"><i class="fa fa-store"></i> Boutique</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/aboutUs"><i class="fa fa-info-circle"></i> A propos de Nous</a>
        </li> -->
        <!-- Account -->
        <li *ngIf="isSignedIn === true" class="nav-item dropdown dropdown-slide" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-id-card"></i> Compte.
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a routerLink="/dashboard_ecomm">Tableau de bord</a></li>
            <li><a routerLink="/order">Commandes</a></li>
            <li><a routerLink="/edit-address">Addresse</a></li>
            <li><a routerLink="/profile-details">Détails du profil</a></li>
            <li *ngIf="UserProfile.role == 5"><a routerLink="/screen-orders-notif">Ecran CMD</a></li>
            <!-- <li><a routerLink="/signup">Inscription</a></li> -->
            <li><a routerLink="/forgot-password">Mot de passe oublié</a></li>
          </ul>
        </li><!-- / Account -->
        <li *ngIf="isSignedIn === false" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login_pos"><i class="fa fa-user-circle"></i> Connexion</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/ContactUs"><i class="fa fa-phone"></i> Nous Contactez</a>
        </li>
      </ul>
    </div>
    <!-- Navbar-collapse -->

    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <!-- <li class="list-inline-item">
        <a href="#" class="search_toggle" id="search-icon"><i class="tf-ion-android-search"></i></a>
      </li> -->

      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a href="#" class="dropdown-toggle cart-icon" data-toggle="dropdown" data-hover="dropdown">
          <i matBadge="{{ totalItems }}" matBadgeColor="warn" class="tf-ion-android-cart"></i>
        </a>
        <div  class="dropdown-menu cart-dropdown">
          <div *ngIf="totalItems > 0" style="height: 250px; overflow-y: scroll;">
            <div *ngFor="let cartItem of cartItemList"  >
              <!-- Cart Item -->
              <div class="media">
                <a [routerLink]="['/product-single/', cartItem.products.id]">
                  <img class="media-object img- mr-3" [src]="cartItem.products.feature_image != ''  ? '../../assets_leden/img/products/' + cartItem.products.feature_image : '../../assets_leden/img/default.png'" alt="image" />
                </a>
                <div class="media-body">
                  <h6> <a [routerLink]="['/product-single/', cartItem.products.id]">{{ cartItem.products.product_name }}</a></h6>
                  <div class="cart-price">
                    <span>{{ cartItem.prod_qty }} x </span>
                    <span>{{ cartItem.products.price | currency }}</span>
                  </div>
                </div>
                <a (click)="removeProduct(cartItem.products.id,cartItem.products.product_name)"  class="btn remove"><i class="tf-ion-close"></i></a>
              </div><!-- / Cart Item -->
              </div>
          </div>
          <div *ngIf="cartItemList.length <= 0" >
            <span class="text-center">Aucun produit dans le panier</span>
          </div>

          <div class="cart-summary">
            <span class="h6">Total</span>
            <span class="total-price h6">{{ totalPrice | currency }}</span>

            <div class="text-center cart-buttons mt-3">
              <a routerLink="/cart" class="btn btn-small btn-transparent btn-block">Voir le panier</a>
              <a *ngIf="cartItemList.length > 0" routerLink="/checkout" class="btn btn-warning text-white btn-block">Checkout</a>
            </div>
          </div>
        </div>
      </li>
      <li *ngIf="isSignedIn === true" class="dropdown cart-nav dropdown-slide list-inline-item">
        <a class="nav-link dropdown-toggle navbar-icon" data-toggle="dropdown" href="#">
        <i matBadge="{{ ordersNotifs.length  }}" matBadgeColor="warn" class="fa fa-bell position-relative"></i><span class=""></span></a>
        <div class="cart-dropdown dropdown-menu dropdown-menu-right pt-0" style="min-width: 350px">
            <div class="py-4 px-3 text-center text-white mb-3" style="background-color: #2c2f48;">
                <h5 class="m-0 text-white">{{ ordersNotifs.length }} Nouvelle(s) Notifications</h5>
            </div>
            <div *ngIf="ordersNotifs.length > 0 && (UserProfile?.role == 1 || UserProfile?.role == 2 || UserProfile?.role == 3)"  class="custom-scroll position-relative mb-3" style="height:320px; overflow-y: scroll;">
                <div class="list-group list-group-flush" *ngFor="let notif of ordersNotifs">
                  <a (pointerover)="markNotifAsRead(notif.id)" class="list-group-item list-group-item-action px-4 py-3">
                        <div class="media align-items-center"><i class="ti-shopping-cart text-center font-20 text-primary mr-3" style="width: 40px"></i>
                            <div class="media-body">
                                <div class="flexbox">
                                    <h6 class="mb-0 font-weight-bold">{{ notif['data'].message }}</h6>
                                    <div class="text-muted font-13">{{ notif.created_at | date:'dd/MM/yyyy HH:mm'  }}</div>
                                </div>
                                <div class="font-13 text-muted">Commande N {{ notif['data'].order_id  }}</div>
                            </div>
                        </div>
                    </a>
                   </div>

            </div>
            <div *ngIf="ordersNotifs.length <= 0">
              <span class="px-3 py-2 text-center"><i class="fa fa-info-circle"></i> Aucune notification actuellement .</span>
            </div>

        </div>
    </li>
      <li *ngIf="isSignedIn === true" class="list-inline-item">
        <a routerLink="/dashboard_ecomm">
          <i class="fa fa-user mr-3"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
