
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">
          <!-- BEGIN: Page heading-->
          <div class="page-heading">
            <h1 class="page-title page-title-sep">Tableau de bord </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard" ><i class="la la-home font-20"></i></a></li>
                <li class="breadcrumb-item">Tableau de bord</li>

            </ol>
          </div><!-- BEGIN: Page content-->
          <div>
            <div class="row">
              <div class="col-lg-8">
                  <div class="card card-fullheight">
                      <div class="card-body">
                          <div class="d-flex justify-content-between mb-5">
                              <div>
                                  <h5 class="box-title mb-2">Graphe des Commandes</h5>
                                  <div class="text-muted font-13">Analyse des commandes mensuelles</div>
                              </div>
                              <ul class="nav nav-pills nav-pills-links d-none d-sm-flex">
                                  <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab-3">Choisir Année
                                      <select id="select-year" >
                                        <option *ngFor="let year of unique_years" [value]="year">{{ year }}</option>
                                      </select>
                                    </a>
                                  </li>
                              </ul>
                          </div>

                          <div class="chart-wrapper" id="chart" style="height: 230px">
                            <canvas baseChart></canvas>
                          </div>
                          <div class="flexbox flex-wrap mt-5">
                              <div class="d-flex mb-4 mb-sm-0">
                                  <div class="pr-4 pr-sm-5">
                                      <h6 class="mb-2 font-15 text-muted">Utilisateurs</h6>
                                      <div class="h4 mb-0 text-primary">{{ total_users }}</div>
                                  </div>
                                  <div class="pl-0 pl-sm-5">
                                      <h6 class="mb-2 font-15 text-muted">Total Ventes</h6>
                                      <div class="h4 mb-0 text-danger">+ {{ total_incomes | currency }}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-white" style="background-image: linear-gradient(45deg,#f39c12 0,#e91e63 100%);">
                        <div class="d-flex justify-content-between mb-4">
                            <div>
                                <h5 class="box-title mb-2">Commandes</h5>
                            </div><i class="ti-shopping-cart text-white-50 font-40"></i>
                        </div>
                        <div class="flexbox mb-2">
                            <div class="h1 mb-0">+ {{ average_order_price | currency }}</div>
                        </div>
                        <div class="text-white">Valeur moyenne des commandes - {{ average_order_price | currency}} </div>
                    </div>
                </div>
                  <div class="card">
                      <div class="card-body">
                          <div class="d-flex justify-content-between mb-5">
                              <div>
                                  <h5 class="box-title mb-2">Revenus</h5>
                              </div><a class="text-muted" href="#"><i class="ti-more-alt"></i></a>
                          </div>
                          <div class="flexbox mb-2">
                              <div class="h1 mb-0"> {{ total_incomes | currency }}</div>
                          </div>
                          <div class="text-muted">{{ increase_compare }} % de commandes plus que la semaine dernière</div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="row m-0">
              <div class="shadow card col-lg-4 rounded-0 border-right">
                  <div class="card-body text-center">
                      <div class="mb-4 pb-3"><i class="ti-briefcase text-muted font-40"></i></div>
                      <h5 class="mb-3">Gérer Utilisateurs</h5>
                      <p>Avoir une vue d'ensemble des utilisateurs et les gérer.</p>
                      <div><a class="btn btn-warning shadow d-inline-flex align-items-center text-white" routerLink="/users/index"><span class="mr-2">Consulter</span><i class="fas fa-angle-right font-16"></i></a></div>
                  </div>
              </div>
              <div class="shadow card col-lg-4 rounded-0 border-right">
                  <div class="card-body text-center">
                      <div class="mb-4 pb-3"><i class="ti-announcement text-muted font-40"></i></div>
                      <h5 class="mb-3">Gérer Commandes</h5>
                      <p>Consulter les dernières commandes </p>
                      <div><a class="btn btn-warning shadow d-inline-flex align-items-center text-white" routerLink="/orders/cashiers_list"><span class="mr-2">Consulter</span><i class="fas fa-angle-right font-16"></i></a></div>
                  </div>
              </div>
              <div class="shadow card col-lg-4 rounded-0">
                  <div class="card-body text-center">
                      <div class="mb-4 pb-3"><i class="ti-world text-muted font-40"></i></div>
                      <h5 class="mb-3">Gérer Stock</h5>
                      <p>Controler le stock de ses produits en quelques minutes.</p>
                      <div><a class="btn btn-warning shadow d-inline-flex align-items-center text-white" routerLink="/manageStock"><span class="mr-2">Consulter</span><i class="fas fa-angle-right font-16"></i></a></div>
                  </div>
              </div>
          </div>
          </div>




      </div>
    </div>
  </div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
