<div style="margin-left: 5% ;">
  <ngx-skeleton-loader
  count="9"
  appearance="circle"
  [theme] = "{
    'border-radius': '0',
    'margin': '10px',
    'margin-bottom': '20px',
    'height': '200px',
    'width': '250px'
  }"
  >
  <span style="height: 5px; width: 150px; "></span>

</ngx-skeleton-loader>

</div>
