<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container" style="margin-top: 2%">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Mon Profil</h1>
          <!-- <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p> -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profil</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <app-menu></app-menu>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">





          <div class="tab-pane fade show active" id="settings" role="tabpanel" >
            <div class="acccount-settings">
              <h4 class="mb-4">Informations du compte</h4>
              <form [formGroup]="UserForm" (ngSubmit)="updateAccountInfo()">
                <div class="row" *ngIf="submitted && errors">
                  <div class="col">
                      <!-- <div class="alert alert-danger">
                          <strong>Oops!</strong> Vous avez saisi des champs sont incorrects.
                      </div> -->
                         <!-- Errors -->
                        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                          {{ errors?.email }}
                        </div>
                        <div *ngIf="errors?.username" class="alert alert-danger mt-3">
                          {{ errors?.username }}
                        </div>
                        <div *ngIf="errors?.lastname" class="alert alert-danger mt-3">
                          {{ errors?.lastname }}
                        </div>
                        <div *ngIf="errors?.firstname" class="alert alert-danger mt-3">
                          {{ errors?.firstname }}
                        </div>
                        <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                          {{ errors?.password }}
                        </div>
                        <div *ngIf="errors?.verification_password" class="alert alert-danger mt-3">
                          {{ errors?.verification_password }}
                        </div>
                        <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                            {{ errors?.error }}
                        </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label >Prénoms</label>
                      <input type="text"  formControlName="firstname" class="form-control" value="{{ UserProfile?.firstname! }}" placeholder="Renseignez vos prénoms">

                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label >Nom</label>
                      <input type="text"  formControlName="lastname" class="form-control" value="{{ UserProfile?.lastname! }}" placeholder="Renseignez votre nom">

                    </div>
                  </div>
                </div>

                <div class="form-group mb-4">
                  <label >Nom à Afficher </label>
                  <input type="text"  class="form-control" formControlName="username" placeholder="Renseignez votre nom d'utilisateur" value="{{ UserProfile?.username! }}" >
                  <p class="mt-2"> Ce sera ainsi que votre nom sera affiché dans la section compte et dans les avis</p>
                </div>
                <div class="form-group mb-4">
                  <label >Address Email  </label>
                  <input type="text" formControlName="email" class="form-control" value="{{ UserProfile?.email! }}" placeholder="exemple@gmail.com">
                </div>

                <h4>Modifier son mot de passe</h4>

                <!-- <div class="form-group">
                  <label >Mot de passe Actuel </label>
                  <input  type="password" class="form-control" placeholder="">

                </div> -->
                <div class="form-group">
                  <label >Nouveau Mot de Passe</label>
                  <input formControlName="password"  type="password" value="" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                  <label >Confirmation du mot de passe</label>
                  <input formControlName="verification_password" type="password" value="" class="form-control" placeholder="">
                </div>

                <button  class="btn btn-dark">Enrégistrer Mise à jour</button>
              </form>
            </div>
          </div>


      </div>
    </div>
  </div>

</section>
<app-footer-ecom></app-footer-ecom>




