<div  class="row align-items-center">
  <div class="col-lg-12 mb-4 mb-lg-0">
    <div class="section-title">
        <div class="heading d-flex justify-content-between mb-5">
          <p class="result-count mb-0">Filtrer suivant les catégories et produits</p>
          <ngx-spinner
          bdColor="rgba(0,0,0,0.8)"
          size="medium"
          color="#fff"
          type="ball-scale-multiple"
          [fullScreen] = "true"
        >
          <p style="font-size: 20px; color: white">Chargement produits...</p>
        </ngx-spinner>
          <div class="col-md-5">
            <form class="ordering " method="get">
              <ng-multiselect-dropdown
              [placeholder]="'Choisir Catégorie(s)'"
              [settings]="dropdownSettingsCat"
              [data]="dropdownListCategories"
              [(ngModel)]="categories"
              (onSelect)="onCategorySelect($event)"
              (onSelectAll)="onSelectAllCategory()"
              (onDeSelect)="onCategoryDeSelect($event)"
            >
          </ng-multiselect-dropdown>
              <input type="hidden" name="paged" value="1">
          </form>
          </div>
          <div class="col-md-5">
            <form class="ordering " method="get">
              <ng-multiselect-dropdown
              [placeholder]="'Sélectionner un produit'"
              [settings]="dropdownSettingsProd"
              [data]="dropdownListProducts"
              [(ngModel)]="productsResearch"
              (onSelect)="onProductSelect($event)"
              (onSelectAll)="onSelectAllProduct()"
              (onDeSelect)="onProductDeSelect($event)"
            >
          </ng-multiselect-dropdown>
              <input type="hidden" name="paged" value="1">
          </form>
          </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="contentLoaded" class="row">
  <app-skeleton-product></app-skeleton-product>
</div>
<div class="row col col-md-12" *ngIf="products.length > 0" style="height: 420px; overflow-y:scroll">
  <div class="col col-md-3 d-flex justify-content-center" *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: p }">

    <div  class="ProductItem mr-2 mb-2" style="margin: 2%;">
      <div class="shadow card productsC hoverable productsCard-{{ product.id }} m-2" id="order1" [ngStyle]="{'border': (product.stock_qty != 0) ? '1px solid orange': '1px solid red'}">
          <div class="card-body container">

              <div class="row ">
                  <div class="">
                      <img  class="rounded shadow " [src]= "product.feature_image != ''  ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="image"  width="80" height="60"/>
                  </div>
                  &nbsp;&nbsp;
                  <hr/>

                  <div class="">

                      <button  type="button" id="cancProd-{{ product.id }}" on-click="cancProd(product.id)" data-id="${products[i].id}" class="shadow btn btn-danger" [disabled]="emptyBtnDisabled"><i class="fa fa-check"></i></button>&nbsp;
                      <button type="button" id="editProd-${products[i].id}" data-toggle="modal" data-target="#modalEditStock" on-click="editProd(product.id,product.stock_qty, product.product_name)" data-id="${products[i].id}" class="shadow btn btn-warning text-white"><i class="fa fa-edit"></i></button>
                  </div>
              </div>
              <hr ng-style="product.stock_qty != 0 ? { height: '0.1px'; background-color: 'black'} : {height: '0.1px';background-color:'red'}"/>
              <h6 class="text-center prodTitle-{{ product.id }} " >
                <b>
                  <div *ngIf="product.stock_qty !== 0">
                    <span style="margin-top: 1%;">En stock</span><br/>
                    <span  class=" text-white badge badge-dark d-inline-flex p-2 qty-{{ product.id }}" > X {{ product.stock_qty }} | {{ product.product_name }} </span>
                  </div>
                  <div *ngIf="product.stock_qty === 0">
                    <span style="margin-top: 1%;">Indisponible</span><br/>
                    <span style="text-decoration: line-through" class=" text-white d-inline-flex p-2  badge badge-danger qty-{{ product.id }}" > X {{ product.stock_qty }} | {{ product.product_name }}</span>
                  </div>

                </b>
              </h6>
          </div>
      </div>

      </div>
  </div>

</div>
<div class="row " *ngIf="products.length! > 0">
  <nav aria-label="Page navigation d-flex justify-content-center">
    <pagination-controls class="my-pagination float-right" (pageChange)="p = $event"
    previousLabel="Précédent"
    nextLabel="Suivant"></pagination-controls>
  </nav>
</div>
<div *ngIf="products.length! <= 0">
    <span class="text-center"><i class="fa fa-alert"></i> Désolé, Aucun produit n'a été enrégistré actuellement !!!</span>
</div>

<div class=" d-flex justify-content-center">
  <button type="button" class="btn btn-success btn-save " on-click="emptyProds()">Vider les stocks sel. <i class="fa fa-save"></i></button>&nbsp;
  <button type="button" class="btn btn-warning text-white" on-click="resetProds()" id="resetProd">Réinitialiser sel. Prod. <i class="fa fa-refresh"></i></button>
</div>

<!--Edit stock modal begin-->
<div class="modal fade"  id="modalEditStock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <input type="hidden" [(ngModel)]="product_name">
        <h5 class="modal-title" id="exampleModalLabel">Mise à jour du stock de : <span id="stockLabel">{{ product_name }}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="card-body">

            <div class="form-group" id="validation-errors"></div>
            <form action="javascript:;" class="form">
                <input type="hidden" name="id">

                <div class="row">
                    <div class="col-sm-6">
                        <input type="hidden" name="id" id="idProd" [(ngModel)]="id">
                        <div class="md-form"><input type="number" [(ngModel)]="stock" min="0" name="stock" required class="md-form-control stock" ><label class="active">Stock<span class="text-danger">*</span></label></div>
                    </div>
                </div>

                  <button type="button" on-click="updateStock(id, stock, product_name)" class="btn btn-warning btn-update text-white">Mettre à jour <i class="fa icons-reload" aria-hidden="true"></i></button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Edit product stock modal end-->
