.overlay-img{
  background-color:#000; opacity:.6;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: orangered;
}
.btn{
  border: 1px solid white;
  box-shadow: 1px 1px 2px rgb(190, 187, 187) ;
}
