
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">
        <!-- BEGIN: Page heading-->
        <!-- <div class="page-heading">
            <h1 class="page-title page-title-sep">Stocks Produits</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard" ><i class="la la-home font-20"></i></a></li>

            </ol>
        </div> -->
        <!-- BEGIN: Page content-->
        <div>
          <div class="card">
              <div class="card-body">
                  <h2 class="box-title">Liste de stocks Produits</h2>
                  <div class="flexbox mb-4">

                  </div>
                  <div class="productsCheck" >
                      <span id="message"></span>
                      
                      <app-product-list class=""></app-product-list>

                  </div>

                  <br/>

              </div>
          </div>
        </div><!-- END: Page content-->
      </div>
    </div>
  </div>
</div>

<!-- <script src="../assets_leden/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets_leden/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets_leden/vendors/jquery-validation/dist/jquery.validate.min.js"></script>CORE SCRIPTS
<script src="../assets_leden/js/app.min.js"></script> -->

