
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">

        <div class="card">
          <div class="card-body">
              <h5 class="box-title">Historique des Commandes</h5>
              <div class="flexbox mb-4">

              </div>
              <div class="">
                <div *ngIf="contentLoaded" class="row">
                  <app-skeleton-product-table></app-skeleton-product-table>
                </div>
                  <table class="table table-bordered data-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                      <thead class="thead-dark">
                          <tr>
                              <th>#ID Com.</th>
                              <th>Total Net (FCFA)</th>
                              <th>Mode Paiement</th>
                              <th>Statut</th>
                              <!-- <th>Commandé par</th> -->
                              <th>Temps Prépa.</th>
                              <th>Date</th>
                              <th>Voir</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orders">
                          <td>{{ order.id }}</td>
                          <td>{{ order.total_price| currency }}</td>
                          <td *ngIf="order.payment_channel == 1"><span class="badge badge-dark text-white"><img src="../../../assets_leden/img/cash.png" height="20" width="35"/> Cash</span></td>
                          <td *ngIf="order.payment_channel == 2"><span class="badge badge-warning text-white"><img src="../../../assets_leden/img/orange_money.png" height="20" width="35"/> Orange Money</span></td>
                          <td *ngIf="order.payment_channel == 3"><span class="badge badge-info text-white"><img src="../../../assets_leden/img/wave.png" height="20" width="35"/> Wave</span></td>

                          <td *ngIf="order.status == 'completed' "><span class="badge badge-info text-white">Payé</span></td>
                          <td *ngIf="order.status == 'delivered' "><span class="badge badge-success text-white">Livré</span></td>
                          <td *ngIf="order.status == 'ready-kitchen' "><span class="badge badge-success text-white">Cuisine pret...</span></td>
                          <td *ngIf="order.status == 'on-hold' "><span class="badge badge-warning text-white">En attente de paiement...</span></td>
                          <td *ngIf="order.status == 'processing' "><span class="badge badge-warning text-white">En cours de prépa...</span></td>
                          <td *ngIf="order.status == 'failed' "><span class="badge badge-danger text-white"></span>Echoué</td>
                          <td *ngIf="order.status == 'cancelled' "><span class="badge badge-danger text-white"></span>Annulé</td>

                          <!-- <td>{{ order.user.firstname }} {{ order.user.lastname }}</td> -->

                          <td> {{ getDiffTimeInMinutes(order.created_at, order.cooked_at) | number:'1.0-0' }} min </td>
                          <td>{{ order.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
                          <td>
                            <a (click)="showOrder(order.id)" data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary text-white"> <i class="fa fa-eye"></i></a>
                          </td>
                        </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Détails de facturation de la commande N* : {{ orderDetails?.id }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body" id="print-bill">
            <div class="text-center" >
              <h2><u>FACTURE N * 00{{ orderDetails?.id }}XXX</u>  </h2>
            </div>
            <br/>
                <div class="row" >
                  <div class="col-md-6">
                    <div class="single-product-slider">
                      <div class="carousel slide" data-ride="carousel" id="single-product-slider">
                        <div class="carousel-inner">
                          <div class="carousel-item active" style="display: block;height:250px; overflow-y: auto; ">
                            <h4 class="">Produits commandés: </h4>
                            <tr *ngFor="let order_product of orderDetails?.order_products">
                              <td style="margin: 2px" class="">
                                <img  class="rounded shadow" [src]= "order_product.product.feature_image != '' ? '../../assets_leden/img/products/' + order_product.product.feature_image : '../../assets_leden/img/default.png'" alt="image"  width="60" height="30"/>&nbsp;
                                 {{ order_product.product.product_name }}

                                 <span >{{ order_product.product.price | currency}} | <span style="color: white" class="badge badge-secondary">X {{ order_product.product_qty }}</span> </span><hr/>
                              </td>
                            </tr>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="single-product-details mt-5 mt-lg-0">
                      <h4>Status de la commande: </h4>
                      <div class="sku_wrapper mb-4">
                       <span *ngIf="orderDetails?.status == 'completed'" class="text-muted">Payé </span>
                       <span *ngIf="orderDetails?.status == 'delivered'" class="text-muted">Livré</span>
                       <span *ngIf="orderDetails?.status == 'ready-kitchen'" class="text-muted">Déja préparée</span>
                       <span *ngIf="orderDetails?.status == 'on-hold'" class="text-muted">En attente de paiement </span>
                       <span *ngIf="orderDetails?.status == 'processing'" class="text-muted">En cours de préparation </span>
                      </div>

                      <hr>
                      <h6>Livraison: gratuite</h6>
                      <h6>Commandé le  {{ orderDetails?.updated_at | date: 'dd/mm/yyyy à HH:mm'}}</h6>
                      <h3 class="product-price text-danger " style="border: 1px solid rgb(30, 29, 29);" >Total: {{ orderDetails?.total_price | currency}}</h3>




                      <div class="products-meta mt-4">
                        <div class="product-category d-flex align-items-center">

                        </div>

                      </div>
                    </div>
                  </div>

                </div>
                <div class="align-items-center">
                  <p style="text-align: center" class="product-description my-4 text-center">
                    Merci pour votre confiance et à la prochaine . . .
                  </p>
                  <p style="text-align: center">
                    Nous faisons de votre service notre priorité <br/>
                  </p>
                  <hr/>
                  <p style="margin-top: 2% ; text-align: center;">
                   <i> Réalisé avec amour <span style="color: brown;" class="fa fa-heart"></span> par <span class="text-warning">LEDEN POS.</span></i>
                  </p>

                </div>

        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
            </div>
            <div class="col-md-6">
              <button [disabled]="orderDetails?.status == 'on-hold'" type="button" [useExistingCss]="false" printSectionId="print-bill" ngxPrint class="btn btn-warning text-white" >Imprimer facture <i class="fa fa-print"></i></button>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>

