

<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">

        <div class="card">

          <div class="card-body">
            <h5 class="box-title">GESTION DES COMMANDES / <u>PREPARATEUR</u> </h5>
              <div class="flexbox mb-4">

              </div>
              <div *ngIf="prepa_orders.length > 0" class="row">
                <!-- <div > -->
                  <div *ngFor="let order of prepa_orders | paginate: { itemsPerPage: 6, currentPage: p }" class="col col-md-4 orderItem" style="margin-bottom: 2%;">
                    <div class="card" style="border: 1px solid peru">
                      <div class="card-cup bg-dark text-white justify-content-center">
                        <h4 class="mb-0"> <span class="badge badge-light">N* {{ order.id }}</span>  </h4>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title text-dark font-weight-bold">Détails de la commande</h5>
                          <table >
                              <tbody style="display: block;height:100px; overflow-y: auto; overflow-x: auto;">
                                <!-- ${data.orders[i].line_items.map(prod => `<tr><td>${prod.name} :</td><td> <span class="text-white badge badge-dark"> X ${prod.quantity} </span></td>`).join('\n      ')} -->
                                  <tr *ngFor="let order_product of order.order_products">
                                    <td style="margin: 2px" class="">
                                      <img  class="rounded shadow" [src]= "order_product.product?.feature_image != '' ? '../../assets_leden/img/products/' + order_product.product?.feature_image : '../../assets_leden/img/default.png'" alt="image"  width="60" height="30"/>&nbsp;
                                       {{ order_product.product.product_name }}
                                       <span > X {{ order_product.product_qty }}</span>
                                       <hr/>
                                    </td>
                                  </tr>


                              <tbody>
                          </table>
                          <div class="text-muted font-13">Commandé à : {{ order.created_at | date: 'HH:mm' }}</div>
                          <hr>
                          <div class="flexbox">
                              <!-- <button  data-toggle="modal"  data-order="${data.orders[i].id}" data-target="#OrderDone" data-whatever="@getbootstrap" class="btn btn-warning orderShow" href="#">
                                <i class="fa fa-eye text-white"></i>
                              </button> -->
                              <div>
                                <button type="button" on-click="validateOrderByPreparator(order.id)"  class="btn btn-success orderBtn" data-id="${data.orders[i].id}" >Terminé
                                  <i class="fa fa-check"></i>
                                </button>
                              </div>
                          </div>
                      </div>
                    </div>

                  <!-- </div> -->

                </div>

              </div>
              <div *ngIf="prepa_orders.length <= 0">
                <span>Aucune commande en attente actuellement</span>
              </div>
              <div class="col-8" *ngIf="prepa_orders.length! > 0">
                <nav aria-label="Page navigation">
                  <pagination-controls class="my-pagination float-right" (pageChange)="p = $event"
                  previousLabel="Précédent"
                  nextLabel="Suivant"></pagination-controls>
                </nav>
                <button class="btn btn-warning text-white text-center" on-click="showDatatable()"> <i class="fa fa-list"></i> Afficher plus de commandes</button>

              </div>
              <br/>

          </div>
        </div>

        <div *ngIf = "!isShow" class="card">
          <div class="card-body">
            <app-order-preparator-datatable></app-order-preparator-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
