<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container" style="margin-top: 2%">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Nous Contacter</h1>
          <!-- <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p> -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nous Contacter</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row ">
  <!-- Default form contact -->
  <div class="col col-md-3">
    <img src="assets_website/images/order.webp" alt="Product big thumb"  class="img-fluid w-100">
  </div>
  <div class="col-md-4">
    <div class="card">
      <form class="align-items-center text-center  p-5" [formGroup]="formContact"  (ngSubmit)="onSubmit()">
        <p class="h4 mb-4">Contactez-Nous</p>
        <!-- Name -->
        <input type="text" formControlName="name" id="defaultContactFormName" mdbInput
          class="form-control mb-4" placeholder="Nom">
        <!-- Email -->
        <input type="email" formControlName="email" id="defaultContactFormEmail" mdbInput
          class="form-control mb-4" placeholder="E-mail">
        <!-- Email -->
        <input type="email" formControlName="subject" id="defaultContactFormEmail" mdbInput
          class="form-control mb-4" placeholder="Entrez le sujet ">
        <!-- Message -->
        <div class="form-group">
          <textarea formControlName="message" class="form-control rounded-0 mb-4" id="exampleFormControlTextarea2"
            rows="3"  placeholder="Message"></textarea>
        </div>
        <!-- Copy -->
        <!-- <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox> -->
        <!-- Send button -->
        <button [disabled]="formContact.invalid" mdbBtn color="info" outline="true" block="true" class="btn btn-warning text-white"
          mdbWavesEffect type="submit" >Envoyez Message <i class="fa fa-envelope"></i></button>
      </form>
    </div>

  </div>

<!-- Default form contact -->
<div class="col-md-4">
  <div class="card py-4">
    <p class="text-center h4 mb-4">Notre Adresse Et Contact(s)</p>
    <div>
      <img src="assets_website/images/contactus.webp" alt="Product big thumb"  class="img-fluid w-100">
    </div>
    <div class="text-center">
    </div>
    <br/>
    <div class="text-center">
      <span><i class="fa fa-at"></i></span> <span> &nbsp; Email@gmail.com</span>
      &nbsp; &nbsp;
      <span><i class="fa fa-phone"></i></span> <span> &nbsp; (221) 77 777 77 77 | 33 145 66 66 </span>
    </div>
    <br>
    <div class="text-center">
      <span ><i class="fa fa-location-arrow"></i> Dakar, Sicap 3 VDN </span>
    </div>
  </div>
</div>

</div>


<app-footer-ecom></app-footer-ecom>
