<nav class="navbar navbar-expand navbar-light fixed-top header">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link navbar-icon sidebar-toggler" id="sidebar-toggler" href="#">
          <span class="icon-bar"></span><span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </li>

      <li *ngIf="UserProfile?.role == 0" class="nav-item dropdown d-none d-sm-inline-block">
        <a class="nav-link dropdown-toggle megamenu-link" href="#" data-toggle="dropdown">
          <h6 class="h6">Actions Rapides<i class="ti-angle-down arrow ml-2"></i></h6>
        </a>
          <div class="dropdown-menu nav-megamenu" style="min-width: 400px">
              <div class="row m-0">
                  <div class="col-6">
                    <a class="mega-menu-item" routerLink="/user/index">
                      <i class="ft-activity item-badge mb-4"></i>
                      <h5 class="mb-2">UTILISATEURS</h5>
                      <div class="text-muted font-12">Gestion Utilisateurs.</div>
                    </a>
                  </div>
                  <div class="col-6">
                    <a class="mega-menu-item bg-warning text-white" href="">
                      <i class="ft-globe item-badge mb-4 text-white"></i>
                      <h5 class="mb-2">COMMANDES</h5>
                      <div class="text-white font-12 text-white">Gestion Commandes</div>
                    </a>
                  </div>

              </div>
              <div class="row m-0">
                <div class="col-6">
                  <a class="mega-menu-item bg-warning text-white" routerLink="/">
                    <i class="ft-activity item-badge mb-4"></i>
                    <h5 class="mb-2">COMPTABILITE</h5>
                    <div class="font-12 text-white">Gestion de la comptabilité.</div>
                  </a>
                </div>
                <div class="col-6">
                  <a class="mega-menu-item" href="">
                    <i class="ft-globe item-badge mb-4"></i>
                    <h5 class="mb-2">PRODUITS</h5>
                    <div class=" font-12">Gestion produits</div>
                  </a>
                </div>

            </div>
          </div>
      </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle navbar-icon" data-toggle="dropdown" href="#">
      <i matBadge="2" matBadgeColor="warn" class="fa fa-bell position-relative"></i><span class=""></span></a>
      <div class="dropdown-menu dropdown-menu-right pt-0" style="min-width: 350px">
          <div class="py-4 px-3 text-center text-white mb-3" style="background-color: #2c2f48;">
              <h5 class="m-0">7 New Notifications</h5>
          </div>
          <div class="custom-scroll position-relative mb-3" style="height:320px;">
              <div class="list-group list-group-flush"><a class="list-group-item list-group-item-action px-4 py-3" href="#">
                      <div class="media align-items-center"><i class="ti-shopping-cart text-center font-20 text-primary mr-3" style="width: 40px"></i>
                          <div class="media-body">
                              <div class="flexbox">
                                  <h6 class="mb-0 font-weight-bold">2 New Orders</h6>
                                  <div class="text-muted font-13">15 min</div>
                              </div>
                              <div class="font-13 text-muted">Lorem ipsum dolor sit amet ut.</div>
                          </div>
                      </div>
                  </a><a class="list-group-item list-group-item-action px-4 py-3" href="#">
                      <div class="media align-items-center"><i class="ti-server text-center font-20 text-primary mr-3" style="width: 40px"></i>
                          <div class="media-body">
                              <div class="flexbox">
                                  <h6 class="mb-0 font-weight-bold">Server overloaded 91%</h6>
                                  <div class="text-muted font-13">40 min</div>
                              </div>
                              <div class="font-13 text-muted">Lorem ipsum dolor sit amet ut.</div>
                          </div>
                      </div>
                  </a><a class="list-group-item list-group-item-action px-4 py-3" href="#">
                      <div class="media align-items-center"><i class="ti-support text-center font-20 text-primary mr-3" style="width: 40px"></i>
                          <div class="media-body">
                              <div class="flexbox">
                                  <h6 class="mb-0 font-weight-bold">New support request</h6>
                                  <div class="text-muted font-13">1 hrs</div>
                              </div>
                              <div class="font-13 text-muted">Lorem ipsum dolor sit amet ut.</div>
                          </div>
                      </div>
                  </a><a class="list-group-item list-group-item-action px-4 py-3" href="#">
                      <div class="media align-items-center"><i class="ti-info-alt text-center font-20 text-primary mr-3" style="width: 40px"></i>
                          <div class="media-body">
                              <div class="flexbox">
                                  <h6 class="mb-0 font-weight-bold">System Warning</h6>
                                  <div class="text-muted font-13">2 hrs</div>
                              </div>
                              <div class="font-13 text-muted">Lorem ipsum dolor sit amet ut.</div>
                          </div>
                      </div>
                  </a><a class="list-group-item list-group-item-action px-4 py-3" href="#">
                      <div class="media align-items-center"><i class="ti-email text-center font-20 text-primary mr-3" style="width: 40px"></i>
                          <div class="media-body">
                              <div class="flexbox">
                                  <h6 class="mb-0 font-weight-bold">You have 2 new messages</h6>
                                  <div class="text-muted font-13">2 hrs</div>
                              </div>
                              <div class="font-13 text-muted">Lorem ipsum dolor sit amet ut.</div>
                          </div>
                      </div>
                  </a><a class="list-group-item list-group-item-action px-4 py-3" href="#">
                      <div class="media align-items-center"><i class="ti-user text-center font-20 text-primary mr-3" style="width: 40px"></i>
                          <div class="media-body">
                              <div class="flexbox">
                                  <h6 class="mb-0 font-weight-bold">24 new users registered</h6>
                                  <div class="text-muted font-13">2 hrs</div>
                              </div>
                              <div class="font-13 text-muted">Lorem ipsum dolor sit amet ut.</div>
                          </div>
                      </div>
                  </a></div>
          </div>
          <div class="px-3 py-2 text-center"><a class="hover-link font-13" href="javascript:;">view all</a></div>
      </div>
  </li>
      <li class="nav-divider"></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle no-arrow d-inline-flex align-items-center" data-toggle="dropdown" href="#">
          <h5 class="d-none d-sm-inline-block mr-2">Bienvenue,
            <span *ngIf="!contentLoaded">
                <ngx-skeleton-loader
                count="1"
                appearance="line"
                [theme] = "{
                  'border-radius': '0',
                  'margin-top': '20px',
                  'height': '15px',
                  'width': '100px'
                }"
                >
              </ngx-skeleton-loader>
            </span>
             {{ UserProfile?.username }}</h5>
          <span class="position-relative d-inline-block">
            <img class="rounded-circle" src="/../assets_leden/img/users/admin-image.png" alt="image" width="36" />
            <span class="badge-point badge-success avatar-badge"></span>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right pt-0 pb-4" style="min-width: 280px;">
          <div class="p-4 mb-4 media align-items-center text-white" style="background-color: #2c2f48;">
            <img class="rounded-circle mr-3" src="/../assets_leden/img/users/admin-image.png" alt="image" width="55" />
              <div class="media-body">
                  <h4 class="mb-1">

                    {{UserProfile?.username}}</h4>
                  <div *ngIf="UserProfile?.role == 0" class="font-13">Super Admin</div>
                  <div *ngIf="UserProfile?.role == 1" class="font-13">Administrator</div>
                  <div *ngIf="UserProfile?.role == 2" class="font-13">Caissier</div>
                  <div *ngIf="UserProfile?.role == 3" class="font-13">Préparateur</div>
                  <div *ngIf="UserProfile?.role == 4" class="font-13">Livreur</div>
              </div>
          </div>
          <a class="dropdown-item d-flex align-items-center" href="#">
            <i class="ft-user mr-3 font-18 text-muted"></i>Profil
          </a>
          <div class="dropdown-divider my-3"></div>

          <div class="mx-4">
            <button class="btn btn-link p-0" (click)="signOut()" *ngIf="isLoggedIn">
              <span class="btn-icon">

                <i class="ft-power mr-2 font-18"></i>Déconnexion
              </span>
            </button>
          </div>
          </div>
      </li>
  </ul>
</nav>
