
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">
          <!-- BEGIN: Page heading-->
          <div class="page-heading">
            <h1 class="page-title page-title-sep">Statistiques </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="la la-home font-20"></i></a></li>
                <li class="breadcrumb-item">Accueil</li>
                <li class="breadcrumb-item">Statistiques</li>
            </ol>
        </div><!-- BEGIN: Page content-->
        <div class="row">
          <div class="row mb-4 col-md-12">
            <div class="col col-md-3">
                <div class="media p-4 bg-dark  text-white align-items-center" style="background-color: #e3e3f2; border-radius: 8px"><i class="fa fa-users align-self-center mr-4 font-30"></i>
                    <div class="media-body  text-white">
                        <h6 class="mb-0x font-weight-bold  text-white">Utilisateurs</h6>
                        <!-- <div class=" font-13 ">Caissier 340</div>
                        <div class=" font-13">Prépa 340</div>
                        <div class=" font-13">Admin 340</div>
                        <div class=" font-13">Super Admin 340</div> -->
                        <div class=" font-13">Total: {{ total_users }}</div>
                    </div>

                </div>
            </div>
            <div class="col col-md-3">
                <div class="media p-4 bg-dark text-white" style="background-color: #e3e3f2; border-radius: 8px"><i class="fa fa-database align-self-center mr-4 font-30"></i>
                    <div class="media-body text-white">
                        <h6 class="mb-0x font-weight-bold">Catégories Prod.</h6>
                        <div class=" font-13">Total: {{ total_category_products }}</div>
                    </div>

                </div>

            </div>
            <div class="col col-md-3">
              <div class="media p-4 bg-dark  text-white align-items-center" style="background-color: #e3e3f2; border-radius: 8px"><i class="fa fa-database align-self-center mr-4 font-30"></i>
                  <div class="media-body text-white">
                      <h6 class="mb-0x font-weight-bold">Produits</h6>
                      <div class=" font-13">Total: {{ total_products }}</div>
                  </div>

              </div>
          </div>
          <div class="col col-md-3">
              <div class="media p-4 bg-dark text-white" style="background-color: #e3e3f2; border-radius: 8px"><i class="fa fa-cart-plus align-self-center mr-4 font-30"></i>
                  <div class="media-body">
                      <h6 class="mb-0x font-weight-bold">Commandes</h6>
                      <div class="text-mutedx font-13">Total: {{ total_orders }}</div>
                  </div>

              </div>
          </div>


        </div>
        </div>
        <div class="row ">
          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Revenues Annuelles</h5>
                  <div class="flexbox mb-4">

                  </div>

                  <div class="">
                    <canvas id="incomeChart" style="height: 200px" ></canvas>

                  </div>
              </div>
          </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Revenues Mensuelles</h5>
                  <ul class="nav nav-pills nav-pills-links d-none d-sm-flex">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#tab-3">Choisir Année
                        <select id="select-year" (change)="changeIncomeByYear($event)" >
                          <option *ngFor="let year of unique_years" [value]="year">{{ year }}</option>
                        </select>
                      </a>
                    </li>
                </ul>

                  <div class="">
                    <canvas id="MonthlyIncomeChart" style="height: 200px" ></canvas>

                  </div>
              </div>
          </div>
          </div>


        </div>
        <div class="row ">

          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Analyse des commandes mensuelles</h5>
                  <div class="flexbox mb-4">
                    <ul class="nav nav-pills nav-pills-links d-none d-sm-flex">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#tab-3">Choisir Année
                          <select id="select-year" (change)="changeOrdersByYear($event)">
                            <option *ngFor="let year of unique_years" [value]="year">{{ year }}</option>
                          </select>
                        </a>
                      </li>
                  </ul>
                  </div>

                  <div class="">
                    <canvas id="orderChart" style="height: 200px" ></canvas>

                  </div>
              </div>
          </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Courbe illustrative des produits par catégories</h5>
                  <div class="flexbox mb-4">

                  </div>
                  <div class="">
                    <canvas id="productCategoryChart" style="height: 200px" ></canvas>

                  </div>
              </div>
          </div>
          </div>

        </div>
        <div class="row ">
          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Stats Utilisateurs</h5>
                  <div class="flexbox mb-4">
                    <canvas id="usersChart" style="height: 200px" ></canvas>
                  </div>
                  <div class="">
                      <span id="addSuccess"></span>

                  </div>
              </div>
          </div>
          </div>

          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Stats Produits</h5>
                  <div class="flexbox mb-4">
                    <canvas id="productsChart" style="height: 200px" ></canvas>
                  </div>
                  <div class="">
                      <span id="addSuccess"></span>

                  </div>
              </div>
          </div>
          </div>



        </div>
        <div class="row ">
          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Stats de comparaison des commandes</h5>
                  <div class="flexbox mb-4">
                    <canvas id="ordersCompChart" style="height: 200px" ></canvas>
                  </div>
                  <div class="">
                      <span id="addSuccess"></span>

                  </div>
              </div>
          </div>
          </div>
<!--
          <div class="col-lg-6">
            <div class="card card-fullheight">
              <div class="card-body">
                  <h5 class="box-title">Stats Produits</h5>
                  <div class="flexbox mb-4">
                  </div>
                  <div class="">
                      <span id="addSuccess"></span>

                  </div>
              </div>
          </div>
          </div> -->



        </div>
      </div>
    </div>
  </div>

</div>


<!--user Modal -->
<div class="modal fade" id="usersmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Stats Utilisateurs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="usersChart" style="height: 200px" ></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
