<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<div class="page-wrapper">
    <div class="auth-wrapper" >
        <div style="border: 0.1px solid orangered; box-shadow: black;" class="card-1 auth-content mb-0" >
            <div class="card-body py-5">
                <div class="text-center mb-5">
                    <h3 class="mb-3 text-warning">LEDEN POS</h3>
                    <div class="font-18 text-center">Connexion à votre compte</div>
                </div>
                <form id="login-form"  [formGroup]="form" (submit)="login()">
                  <div class="row" *ngIf="errors">
                      <div class="col">
                          <div class="alert alert-danger">
                              <strong>Oops!</strong> Vous avez saisi des identifiants incorrects
                          </div>
                             <!-- Errors -->
                            <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                              {{ errors?.email }}
                            </div>
                            <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                                {{ errors?.password }}
                            </div>
                            <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                {{ errors?.error }}
                            </div>
                      </div>
                  </div>
                    <div class="mb-4">
                        <div class="md-form mb-0">
                            <input class="md-form-control" type="email" name="email" id="email" formControlName="email"  value="" required autocomplete="email" autofocus ><label class="active">Email</label>

                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="md-form mb-0">
                            <input class="md-form-control" type="password" name="password" id="password" formControlName="password" required autocomplete="current-password"><label class="active"> Mot de Passe</label>

                        </div>

                    </div>

                        <button class="btn btn-warning btn-rounded btn-block text-white" type="submit" [disabled]="loading">
                          <span *ngIf="loading" class="fa fa-spinner mr-1"></span>
                          Connexion
                        </button>
                </form>
                <div class="text-center mt-5 font-13">
                    <div class="mb-2 text-muted">2022 © All rights reserved</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- BEGIN: Page backdrops-->
<script>
    $(function() {
        $('#login-form').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true
                }
            },
            errorClass: 'invalid-feedback',
            validClass: 'valid-feedback',
            errorPlacement: function(error, element) {
                if (element.hasClass('md-form-control')) {
                    error.insertAfter(element.closest('.md-form'));
                } else {
                    error.insertAfter(element);
                }
            },
            highlight: function(e) {
                $(e).addClass("invalid").removeClass('valid');
            },
            unhighlight: function(e) {
                $(e).removeClass("invalid").addClass('valid');
            },
        });
    });
</script>

