<div class="page-sidebar custom-scroll ps" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" routerLink="/dashboard" >LEDEN POS</a>
    <span class="sidebar-brand-mini">LPOS</span>
    <span class="sidebar-points">
      <span class="badge badge-success badge-point mr-2"></span>
      <span class="badge badge-danger badge-point mr-2"></span>
      <span class="badge badge-warning badge-point"></span>
    </span>
  </div>
  <div *ngIf="!contentLoaded" class="sidebar-menu metismenu">
    <div style="margin-left: 10% ;">
      <ngx-skeleton-loader
      count="7"
      appearance="line"
      [theme] = "{
        'border-radius': '0',
        'margin-bottom': '20px',
        'height': '30px',
        'width': '200px'
      }"
      >
    </ngx-skeleton-loader>

    </div>

  </div>
  <ul class="sidebar-menu metismenu">
    <li *ngIf="isAdmin || isSuperAdmin"class="mm-active">
      <a routerLink="/dashboard" >
        <i class="sidebar-item-icon fa fa-home "></i>
        <span>TABLEAU DE BORD</span>
      </a>
    </li>
    <li *ngIf="isAdmin || isSuperAdmin || isPreparator || isCashier ">
      <a routerLink="/shop">
        <i class="sidebar-item-icon fa fa-store"></i>
        <span class="nav-label">Boutique</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <li *ngIf="isSuperAdmin">
      <a routerLink="/users/index">
        <i class="sidebar-item-icon fa fa-users"></i>
        <span class="nav-label">Liste des utilisateurs</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <li *ngIf="isAdmin || isSuperAdmin">
      <a routerLink="/categoryProduct">
        <i class="sidebar-item-icon fa fa-bars"></i>
        <span class="nav-label">Gestion cat. Prod </span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <li *ngIf="isAdmin || isSuperAdmin">
      <a routerLink="/products">
        <i class="sidebar-item-icon fa fa-bars"></i>
        <span class="nav-label">Gestion des produits</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <li *ngIf="isPreparator || isAdmin || isSuperAdmin" >
      <a routerLink="/orders/prepa_list">
        <i class="sidebar-item-icon fa fa-coffee"></i>
        <span class="nav-label">Prep. Commandes</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <li *ngIf="isCashier || isAdmin || isSuperAdmin">
      <a routerLink="/orders/cashiers_list">
        <i class="sidebar-item-icon fa fa-coffee"></i>
        <span class="nav-label">Caissier. Commandes</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <li *ngIf="isAdmin || isSuperAdmin">
      <a routerLink="/coupons">
        <i class="sidebar-item-icon fa fa-crown"></i>
        <span class="nav-label">Gest. Promos</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>

    <li *ngIf="isAdmin || isSuperAdmin">
      <a routerLink="/statistics">
        <i class="sidebar-item-icon fa fa-chart-line"></i>
        <span class="nav-label">Statistiques</span>
        <i class="arrow la la-angle-right"></i>
      </a>
    </li>
    <!-- <li class="">
      <a href="javascript:;" aria-expanded="false">
        <i class="sidebar-item-icon fa fa-coffee"></i>
        <span class="nav-label">Gestion Commandes</span>
        <i class="arrow fa fa-angle-right"></i>
      </a>
        <ul class="nav-2-level mm-collapse" style="height: 0px;">

          <li *ngIf="UserProfile.role == 2 || UserProfile.role == 1 || UserProfile.role == 0">
            <a  routerLink="/orders/prepa_list">Prep Liste Commandes</a>
          </li>
          <li *ngIf="UserProfile.role == 3 || UserProfile.role == 1 || UserProfile.role == 0">
            <a routerLink="/orders/cashiers_list">Caissier Liste Commandes</a>
          </li>
        </ul> -->

        <li *ngIf="isAdmin || isSuperAdmin || isCashier">
          <a routerLink="/orders/stats">
            <i class="sidebar-item-icon fa fa-bars"></i>
            <span class="nav-label">Historique Commandes</span>
          </a>
        </li>
    <!-- </li> -->

    <li *ngIf="isPreparator || isAdmin || isSuperAdmin">
      <a routerLink="/manageStock" >
        <i class="sidebar-item-icon fa fa-database"></i>
        <span class="nav-label">Gestion Stock</span>
      </a>
    </li>
    <li *ngIf="isSuperAdmin">
      <a routerLink="/shopSettings" >
        <i class="sidebar-item-icon fa fa-cogs"></i>
        <span class="nav-label">Paramètres</span>
      </a>
    </li>

    <li *ngIf="isAdmin || isSuperAdmin || isPreparator || isCashier">
      <a routerLink="/about" >
        <i class="sidebar-item-icon fa fa-info-circle"></i>
        <span class="nav-label">A Propos</span>
      </a>
    </li>

  </ul>
</div>

