<app-header></app-header>
<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="page-wrapper">
        <div class="auth-wrapper">
            <div class="row auth-content mx-0">
                <div class="col-md-6 bg-white p-5">
                    <div>
                        <div class="text-center mb-5">
                            <h4 class="mb-3">CONNEXION </h4>
                            <div class="text-muted">Vous n'avez pas de compte?<a class="ml-2" routerLink="/signup" style="border-bottom: 1px solid">Créer un compte</a></div>
                        </div>

                        <form id="login-form" [formGroup]="form" (submit)="login()">
                          <div class="row" *ngIf="errors">
                            <div class="col">
                                <div class="alert alert-danger">
                                    <strong>Oops!</strong> Vous avez saisi des identifiants incorrects
                                </div>
                                   <!-- Errors -->
                                  <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                                    {{ errors?.email }}
                                  </div>
                                  <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                                      {{ errors?.password }}
                                  </div>
                                  <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                      {{ errors?.error }}
                                  </div>
                            </div>
                        </div>
                            <div class="form-group mb-4"><input class="form-control" type="email" name="email" id="email" formControlName="email"  value="" required autocomplete="email"  placeholder="Enter email"></div>
                            <div class="form-group mb-4"><input class="form-control" type="password" name="email" id="password" formControlName="password"  value="" required placeholder="Enter Password"></div>
                            <div class="flexbox my-5"><a routerLink="/forgot-password">Mot de passe oublié?</a></div>
                            <div class="text-center"><button class="btn btn-warning btn-rounded text-white" style="min-width: 200px">Se Connecter</button></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 bg-warning text-white p-5 d-flex flex-column justify-content-between">
                    <h3 class="mb-0 text-white">POS</h3>
                    <div>
                        <h4 class="font-40 mb-4 text-white">Accéder à votre compte</h4>

                        <p class="mb-0 text-white">Faites partie de nos clients fidèles. Vous pourrez bénéficier des promotions sur l'achat de nos produits si vous n'etes pas encore inscrit.</p>
                        <br/>
                        <a class="btn btn-secondary home-link" routerLink="/shop"><span class="btn-icon"><i class="ti-arrow-left font-20"></i>Retour à la boutique</span></a>

                    </div>
                    <div class="flexbox font-13 text-white-50"><span>2022 © All rights reserved</span><span><a class="text-white-50" routerLink="/aboutUs" style="border-bottom: 1px solid;">A propos</a><a class="ml-3 text-white-50" href="#" style="border-bottom: 1px solid;">Politique</a></span></div>
                </div>
            </div>
        </div>
    </div><!-- BEGIN: Page backdrops-->

    </div>
  </div>
</div>
<app-footer-ecom></app-footer-ecom>
