<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container" style="margin-top: 2%">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Mes Commandes</h1>
          <p>Commandes</p>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Commandes</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
      <app-menu></app-menu>
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <table *ngIf="orders.length > 0" class="table table-bordered" datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th scope="col">Commande N*</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Total</th>
              <th scope="col">Voir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders" >
              <th scope="row">{{ order.id }}</th>
              <td>{{ order.created_at | date: 'dd/mm/yyyy à HH:mm' }} </td>

              <td *ngIf="order.status == 'completed' "><span class="badge badge-secondary text-white">Payé</span></td>
              <td *ngIf="order.status == 'delivered' "><span class="badge badge-success text-white">Livré</span></td>
              <td *ngIf="order.status == 'cancelled' "><span class="badge badge-secondary text-white">Annulé</span></td>
              <td *ngIf="order.status == 'ready-kitchen' "><span class="badge badge-secondary text-white">Déja préparé...</span></td>
              <td *ngIf="order.status == 'on-hold' "><span class="badge badge-danger text-white">Veuillez Payer à la caisse...</span></td>
              <td *ngIf="order.status == 'processing' "><span class="badge badge-warning text-white">En cours de prépa...</span></td>
              <td *ngIf="order.status == 'failed' "><span class="badge badge-warning text-white">Echoué</span></td>

              <td>{{ order.total_price | currency }}</td>
              <td>
                <a (click)="showOrder(order.id)" data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary text-white"> <i class="fa fa-eye"></i></a>
              </td>
            </tr>

            </tbody>
          </table>
          <div *ngIf="orders.length <= 0">
            <div class="alert alert-info"><i class="fa fa-info-circle"></i>&nbsp; Vous n'avez effectué aucune commande pour le moment ...</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="border: 1px solid orange">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Détails de facturation de la commande N* : {{ orderDetails?.id }}</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body" id="print-bill">
              <div class="text-center" >
                <h2><u>FACTURE N * 00{{ orderDetails?.id }}XXX</u>  </h2>
              </div>
              <br/>
                  <div class="row" >
                    <div class="col-md-6">
                      <div class="single-product-slider">
                        <div class="carousel slide" data-ride="carousel" id="single-product-slider">
                          <div class="carousel-inner">
                            <div class="carousel-item active" style="display: block;height:250px; overflow-y: auto; ">
                              <h2 class="">Produits commandés: </h2>
                              <tr *ngFor="let order_product of orderDetails?.order_products">
                                <td style="margin: 2px" class="">
                                  <img  class="rounded shadow" [src]= "order_product.product.feature_image != '' ? '../../assets_leden/img/products/' + order_product.product.feature_image : '../../assets_leden/img/default.png'" alt="image"  width="60" height="30"/>&nbsp;
                                   {{ order_product.product.product_name }}

                                   <span >{{ order_product.product.price | currency}} | <span style="color: white" class="badge badge-secondary">X {{ order_product.product_qty }}</span> </span><hr/>
                                </td>
                              </tr>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="single-product-details mt-5 mt-lg-0">
                        <h2>Status de la commande: </h2>
                        <div class="sku_wrapper mb-4">
                         <span *ngIf="orderDetails?.status == 'completed'" class="text-muted">Payé </span>
                         <span *ngIf="orderDetails?.status == 'delivered'" class="text-muted">Livré</span>
                         <span *ngIf="orderDetails?.status == 'ready-kitchen'" class="text-muted">Déja préparée</span>
                         <span *ngIf="orderDetails?.status == 'on-hold'" class="text-muted">En attente de paiement , Rendez-vous à la caisse pour payer</span>
                         <span *ngIf="orderDetails?.status == 'processing'" class="text-muted">En cours de préparation </span>
                        </div>

                        <hr>
                        <h4>Livraison: gratuite</h4>
                        <h4>Commandé le  {{ orderDetails?.created_at | date: 'dd/mm/yyyy à HH:mm'}}</h4>
                        <h3 class="product-price text-danger " style="border: 1px solid rgb(30, 29, 29);" >Total: {{ orderDetails?.total_price | currency}}</h3>




                        <div class="products-meta mt-4">
                          <div class="product-category d-flex align-items-center">

                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="align-items-center">
                    <p style="text-align: center" class="product-description my-4 text-center">
                      Merci pour votre confiance et à la prochaine . . .
                    </p>
                    <p style="text-align: center">
                      Nous faisons de votre service notre priorité <br/>
                    </p>
                    <hr/>
                    <p style="margin-top: 2% ; text-align: center;">
                     <i> Réalisé avec amour <span style="color: brown;" class="fa fa-heart"></span> par <span class="text-warning">LEDEN POS.</span></i>
                    </p>

                  </div>

          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
              </div>
              <div class="col-md-6">
                <button [disabled]="orderDetails?.status == 'on-hold'" type="button" [useExistingCss]="false" printSectionId="print-bill" ngxPrint class="btn btn-warning text-white" >Imprimer facture <i class="fa fa-print"></i></button>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- <app-footer-ecom></app-footer-ecom> -->
