
<div class="align-items-center" >
  <div class="">
    <div class="text-center align-items-center">
      <h2>ECRAN COMMANDES</h2>



      <div class="mb-4" >
        <div class="row">
          <div class="col-md-2 digitalClock mb-2 align-items-center" >
            <div class="dayTitle" style="font-size: 12px; ">
              {{ day + ' &#128400;&#127995; '}}
            </div>
            <div class="digitalTime" >
              <i class="fa fa-clock"></i>&nbsp;&nbsp;
              <div>{{ hour }} : &nbsp;</div>
              <div>{{ minute }} : &nbsp;</div>
              <div>{{ second }}</div>
              <div></div>
            </div>
          </div>
          <div class="col-md-9 mb-1" >
            <div class="ticker">

              <div class="title text-dark"><h5><i class="fa fa-info-circle"></i> Info</h5></div>
              <div class="news text-dark">
                <marquee class="">
                  <p class="text-dark">Merci de patientez ...Votre commande &#9757; sera Prête dans quelques instants {{ '&#129321; &#129321; &#129321;' }}...Vérifiez dans les cases si votre commande  est Prête ou en cours de préparation...
                    <span *ngIf="orders.length > 0">{{'Commnde N*' + orders[0].id + ' Votre commande est prète &#128694;&#127999; &#128694;&#127999; &#128694;&#127999;' }}</span> </p>
                  <p class="text-white"></p>
                </marquee>
              </div>
            </div>
          </div>

        </div>



        <div>
          <div class="card m-2">
              <div class="card-body">

                <div *ngIf="orders.length > 0" class="row col-lg-12" >
                  <div class="col-lg-6">
                    <div class="card align-items-center " style="border: 1px solid rgb(38, 35, 35); background-color: #F5F3F5;">
                        <span style="font-size: 20px;" class="badge badge-dark mt-1">En Cours</span>
                      <div class="card-body d-flex flex-wrap">
                        <div class="" *ngFor="let order of orders, let i = index">
                          <span class="badgeproc  badge badge-dark p-4 m-2 text-center" *ngIf="order.status == 'processing' || order.status == 'completed'" >{{ order.id }}</span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="card align-items-center" style="border: 1px solid rgb(48, 47, 46); background-color: #4AAD52;">
                      <span style="font-size: 20px;" class="badge badge-light mt-1 text-dark">Prêtes </span>
                      <div class="card-body d-flex flex-wrap">
                        <div class="" *ngFor="let order of orders, let i = index">
                          <span class="badgeready badge badge-light p-4 m-2 text-center text-dark"   *ngIf="order.status == 'ready-kitchen'" >{{ order.id }}</span>
                          <br>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
                <!-- <div *ngIf="ordersNotifs.length > 0">
                  <div *ngFor="let notif of ordersNotifs">
                    <div class="alert alert-warning text-info align-items-center ">
                      <h3 class="mb-0 font-weight-bold text-center text-white"><i class="fa fa-bell"></i> {{ notif['data'].message }}</h3>
                    </div>
                   </div>
                </div> -->
                <div *ngIf="orders.length <= 0">
                    <div class="alert alert-info  text-center ">
                      <h3 class="text-white"><i class="fa fa-info-circle"></i> Aucune Commande en cours actuellement ...</h3>
                    </div>

                </div>



                  <br/>

              </div>
          </div>
        </div><!-- END: Page content-->
      </div>
    </div>
  </div>
</div>

<!-- <script src="../assets_leden/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets_leden/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets_leden/vendors/jquery-validation/dist/jquery.validate.min.js"></script>CORE SCRIPTS
<script src="../assets_leden/js/app.min.js"></script> -->

