
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  margin: 0;
  background-color: #d0d0d0;
}
.digitalClock{
  width: 300px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #524f4f;
  /* border: 20px solid #ccc; */
  border-radius: 5px;
  margin-left: 2.8%;
  font-size: 26px;
  color: white;
  top: -20;
  text-transform: uppercase;

}

.digitalTime{
  display: flex;
  opacity: 1;
}
.badgeproc{
  border: 1px solid rgb(199, 197, 197);
  box-shadow: 1px 3px 6px rgb(147, 146, 146) ;
}
.badgeready{
  border: 1px solid rgb(199, 197, 197);
  background-color: white;
  box-shadow: 1px 3px 6px rgb(79, 77, 77) ;
}

a{
  color: #fff;
  text-decoration: none
}
body
{
  background: #d2d0d0;
  font-family: 'Poppins', sans-sherif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden
}
.ticker{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin: 0 auto
}
.news
{
  width: 76%;
  background: #ece9e9;
  padding: 0 2%;
  height: 54px;
}
.title{
  color: rgb(39, 38, 38);
  width: 20%;
  text-align: center;
  background: #4e4b4b;
  position: relative;
  height: 54px;
}
.title:after{
  position: absolute;
  color: rgb(58, 54, 54);
  content: "";
  right: -22%;
  border-left: 20px solid #c81c1c;
  border-top: 28px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 21px solid transparent;
  top: 0px
}
.title h5{
  font-size: 20px;
  margin: 8% 0;
  color: rgb(236, 232, 232);
}
.news marquee{
  font-size: 18px;
  margin-top: 12px;
  height: 54px;
}
.news-content p{
  margin-right: 41px;
  display: inline
}
