<table class="table table-bordered data-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead class="thead-dark">
      <tr>
          <th>#ID Com.</th>
          <th>Total Net (FCFA)</th>
          <th>Mode Paiement</th>
          <th>Statut</th>
          <th>Date</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders_data">
      <td>{{ order.id }}</td>
      <td>{{ order.total_price | currency }}</td>
      <td *ngIf="order.payment_channel == 1"><span class="badge badge-dark text-white"><img src="../../../assets_leden/img/cash.png" height="20" width="35"/> Cash</span></td>
      <td *ngIf="order.payment_channel == 2"><span class="badge badge-warning text-white"><img src="../../../assets_leden/img/orange_money.png" height="20" width="35"/> Orange Money</span></td>
      <td *ngIf="order.payment_channel == 3"><span class="badge badge-info text-white"><img src="../../../assets_leden/img/wave.png" height="20" width="35"/> Wave</span></td>

      <td *ngIf="order.status == 'completed' "><span class="badge badge-info text-dark">Payé</span></td>
      <td *ngIf="order.status == 'delivered' "><span class="badge badge-light text-dark">Livré</span></td>
      <td *ngIf="order.status == 'ready-kitchen' "><span class="badge badge-light text-dark">Cuisine pret...</span></td>
      <td *ngIf="order.status == 'on-hold' "><span class="badge badge-warning text-dark">En attente de paiement...</span></td>
      <td *ngIf="order.status == 'processing' "><span class="badge badge-light text-dark">En cours de prépa...</span></td>
      <td *ngIf="order.status == 'failed' "><span class="badge badge-danger text-dark"></span>Echoué</td>
      <td *ngIf="order.status == 'cancelled' "><span class="badge badge-light text-dark" *ngIf="order.status == 'cancelled'">Annulé</span></td>
      <td>{{ order.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <button data-target="#OrderDone" (click)="cashMoneyByCashier(order.id)" data-whatever="@getbootstrap"  class="btn btn-danger collectCash" [disabled]="(order.status == 'completed') || (order.status == 'processing') || (order.status =='ready-kitchen') || (order.status == 'delivered')  || (order.status == 'cancelled')"  href="#"> <i class="fa fa-check"></i>{{ order.status == "on-hold" ? " Encaisser" : " Déja Encaissé" }}</button>

        &nbsp;
        <button class="btn btn-success deliverOrder" (click)="deliveredOrder(order.id)" [disabled]="(order.status == 'delivered') || (order.status == 'on-hold') || (order.status == 'completed') || (order.status == 'processing') || (order.status == 'cancelled') || (order.status == 'failed') " id="orderDone" type="button"  ><i class="fa fa-check"></i>{{ order.status !== "delivered"  ? " Livrer" : " Déja livré"}}</button>
      </td>
    </tr>

  </tbody>
</table>
