
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">
          <!-- BEGIN: Page heading-->
          <div class="page-heading">
            <h1 class="page-title page-title-sep">Promotions </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="la la-home font-20"></i></a></li>
                <li class="breadcrumb-item">Accueil</li>
                <li class="breadcrumb-item">Promotions</li>
            </ol>
        </div><!-- BEGIN: Page content-->
        <div class="card">
          <div class="card-body">
              <h5 class="box-title">Tous les Coupons</h5>
              <div class="flexbox mb-4">
                <button type="button" on-click="addCoupon()" class="btn btn-warning add text-white" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Ajouter coupon <i class="fa fa-plus"></i></button>

            </div>
              <div class="">
                <div *ngIf="contentLoaded" class="row">
                  <app-skeleton-product-table></app-skeleton-product-table>
                </div>
                  <table class="table table-bordered data-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                      <thead class="thead-dark">
                          <tr>
                              <th>#ID .</th>
                              <th>Coupon Code</th>
                              <th>Coupon Type</th>
                              <th>Valeur du coupon</th>
                              <!-- <th>Commandé par</th> -->
                              <th>Valeur chariot.</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let coupon of coupons">
                          <td>{{ coupon.id }}</td>
                          <td>{{ coupon.code }}</td>
                          <td *ngIf="coupon.type == 'percent'"> Pourcentage</td>
                          <td *ngIf="coupon.type == 'fixed'"> Fixé</td>
                          <td *ngIf="coupon.type == 'percent'">{{ coupon.value }} %</td>
                          <td *ngIf="coupon.type == 'fixed'">{{ coupon.value }} FCFA</td>
                          <td>{{ coupon.cart_value }}</td>
                          <td>
                            <a href="#" data-toggle="modal" data-target="#exampleModal" (click)="editCoupon(coupon.id, coupon.code, coupon.type, coupon.value,coupon.cart_value)" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>&nbsp;
                            <button type="button" (click)="deleteCoupon(coupon.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>

                          </td>
                        </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>

      </div>
    </div>
  </div>

</div>


<!-- Modal add coupon-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title_modal }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

            <div class="form-group" id="validation-errors"></div>
            <span>&nbsp;Les champs avec (<span class="text-danger">*</span>) sont obligatoires</span>
            <form [formGroup]="form" class="form" (ngSubmit)="createCoupon()">
              <div class="row" *ngIf="submitted && errors">
                <div class="col">
                    <div class="alert alert-danger">
                        <strong>Oops!</strong> Vous avez saisi des champs sont incorrects.
                    </div>
                       <!-- Errors -->
                      <div *ngIf="errors?.code" class="alert alert-danger mt-3">
                        {{ errors?.code }}
                      </div>
                      <div *ngIf="errors?.type" class="alert alert-danger mt-3">
                        {{ errors?.type }}
                      </div>
                      <div *ngIf="errors?.value" class="alert alert-danger mt-3">
                        {{ errors?.value }}
                      </div>
                      <div *ngIf="errors?.cart_value" class="alert alert-danger mt-3">
                        {{ errors?.cart_value }}
                      </div>

                      <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                          {{ errors?.error }}
                      </div>
                </div>
              </div>
                <input type="hidden" name="id">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input type="text" class="md-form-control" [(ngModel)]="coupon.code" formControlName="code" ><label class="active">Code du coupon<span class="text-danger">*</span></label>
                          <div *ngIf="submitted && f['code'].touched && f['code'].invalid" class="badge badge-danger">
                              <div *ngIf="f['code'].invalid">*Le code est obligatoire</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input class="md-form-control" type="text" [(ngModel)]="coupon.value" formControlName="value"><label class="active">Valeur du coupon <span class="text-danger">*</span></label>
                          <div *ngIf="submitted && f['value'].touched && f['value'].invalid" class="badge badge-danger">
                            <div *ngIf="f['value']">*Le valeur est obligatoire</div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="md-form">
                        <select class="mdb-select md-form md-form-control" id="select_role" formControlName="type">
                          <option value="fixed" [selected]="coupon.type == 'fixed'">Fixé</option>
                          <option value="percent" [selected]="coupon.type == 'percent'">Pourcentage</option>
                        </select>
                        <div *ngIf="submitted && f['type'].touched && f['type'].invalid" class="badge badge-danger">
                          <div *ngIf="f['type']">*Le role est obligatoire</div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="md-form">
                      <input class="md-form-control" [(ngModel)]="coupon.cart_value" type="text" formControlName="cart_value"><label>Valeur du chariot</label>
                      <div *ngIf="submitted && f['cart_value'].touched && f['cart_value'].invalid" class="badge badge-danger">
                        <div *ngIf="f['cart_value']">*La valeur du chariot est obligatoire</div>
                    </div>
                    </div>
                  </div>
              </div>

                  <button type="submit" [disabled]="loading" [hidden]="!btnAdd" class="btn btn-success btn-save" >Enrégistrer <i class="fa fa-save"></i></button>&nbsp;
                  <button type="button" [hidden]="!btnEdit" (click)="updateCoupon(coupon.id)" class="btn btn-warning btn-update text-white">Mettre à jour <i class="fa icons-reload" aria-hidden="true"></i></button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
            </form>
        </div>
      </div>
    </div>

  </div>

</div>

