<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Address</h1>
          <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Address</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/dashbord_ecomm">Dashboard</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/order">Orders</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/address">Downloads</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" routerLink="/address">Address</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/address">Account</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/address">Log Out</a>
        </div>
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <p>The following addresses will be used on the checkout page by default.</p>

        <div class="account-info">
          <div class="card p-4">
            <h4 class="card-title">Billing info <a routerLink="/edit-address" class="float-right text-sm">Edit</a></h4>
            <address>Jassa Smith<br>
              1491 Ludhiana Street<br>
              Punjab<br>
              India<br>
            </address>
          </div>

          <div class="card p-4 mt-4">
            <h4 class="card-title">Shipping info <a routerLink="/edit-address" class="float-right text-sm">Edit</a></h4>
            You have not set up this type of address yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-ecom></app-footer-ecom>
