<app-header></app-header>
<div class="account">
  <div class="page-wrapper">
    <div class="auth-wrapper">
        <div class="card auth-content mb-0">
            <div class="card-body py-5">
                <div class="text-center mb-5">
                    <h3 class="mb-3 text-primary">POS</h3>
                    <div class="font-18 text-center">Inscription</div>
                </div>
                <form [formGroup]="form" (ngSubmit)="signup()" id="register-form" action="javascript:;">
                  <div class="row" *ngIf="submitted && errors">
                    <div class="col">
                        <div class="alert alert-danger">
                            <strong>Oops!</strong> Vous avez saisi des champs sont incorrects.
                        </div>
                           <!-- Errors -->
                          <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                            {{ errors?.email }}
                          </div>
                          <div *ngIf="errors?.username" class="alert alert-danger mt-3">
                            {{ errors?.username }}
                          </div>
                          <div *ngIf="errors?.lastname" class="alert alert-danger mt-3">
                            {{ errors?.lastname }}
                          </div>
                          <div *ngIf="errors?.firstname" class="alert alert-danger mt-3">
                            {{ errors?.firstname }}
                          </div>
                          <div *ngIf="errors?.phone_number" class="alert alert-danger mt-3">
                            {{ errors?.phone_number }}
                          </div>
                          <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                              {{ errors?.password }}
                          </div>
                          <div *ngIf="errors?.verification_password" class="alert alert-danger mt-3">
                            {{ errors?.verification_password }}
                        </div>
                          <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                              {{ errors?.error }}
                          </div>
                    </div>
                  </div>
                      <div class="mb-4">
                      <input type="hidden" formControlName="role" value="4">
                        <div class="md-form mb-0"><input class="md-form-control" formControlName="email" type="email" required="true" name="email"><label>Email <span class="text-danger" >*</span></label></div>
                        <div *ngIf="submitted && f['email'].touched && f['email'].invalid" class="text-danger">
                          <div *ngIf="f['email']">*L'email valide est obligatoire</div>
                      </div>
                    </div>
                    <div class="mb-4">
                      <div class="md-form mb-0"><input class="md-form-control" formControlName="username" type="text" required="true"><label>Nom d'utilisateur <span class="text-danger" >*</span></label></div>
                      <div *ngIf="submitted && f['username'].touched && f['username'].invalid" class="text-danger">
                        <div *ngIf="f['username']">*Le nom d'utilisateur est obligatoire</div>
                    </div>
                  </div>
                    <div class="mb-4">
                      <div class="md-form mb-0"><input class="md-form-control" formControlName="firstname" required="true" type="text"><label>Prénoms <span class="text-danger" >*</span></label></div>
                      <div *ngIf="submitted && f['firstname'].touched && f['firstname'].invalid" class="text-danger">
                        <div *ngIf="f['firstname'].invalid">*Le prénom est obligatoire</div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <div class="md-form mb-0"><input class="md-form-control" formControlName="lastname" required="true" type="text" ><label>Nom <span class="text-danger" >*</span></label></div>
                    <div *ngIf="submitted && f['lastname'].touched && f['lastname'].invalid" class="text-danger">
                      <div *ngIf="f['lastname']">*Le nom est obligatoire</div>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="md-form mb-0"><input class="md-form-control" formControlName="phone_number" required="true" type="text" ><label>Numéro de téléphone <span class="text-danger" >*</span></label></div>
                  <div *ngIf="submitted && f['phone_number'].touched && f['phone_number'].invalid" class="text-danger">
                    <div *ngIf="f['phone_number'].invalid">*Le téléphone est obligatoire</div>
                </div>

                </div>
                    <div class="mb-4">
                        <div class="md-form mb-0"><input class="md-form-control" formControlName="password" id="password" type="password" required="true" ><label>Mot de passe <span class="text-danger" >*</span></label></div>
                        <div *ngIf=" submitted && f['password'].touched && f['password'].invalid" class="text-danger">
                          <div *ngIf="f['password']">*Le mot de passe est obligatoire (min: 6 caractères)</div>
                      </div>
                    </div>
                    <div class="mb-5">
                        <div class="md-form mb-0">
                          <input class="md-form-control" type="password" formControlName="verification_password" required="true" ><label>Confirmation de mot de passe <span class="" >*</span></label>
                        </div>
                        <div *ngIf="submitted && f['verification_password'].touched && f['verification_password'].invalid" class="text-danger">
                          <div *ngIf="f['verification_password']">*La confirmation de  mot de passe est obligatoire</div>
                      </div>
                    </div>
                    <div class="flexbox mb-5">
                      <button [disabled]="form.invalid"  class="btn btn-warning btn-rounded text-white" style="min-width: 100px" type="submit">S'INSCRIRE <i class="fa fa-arrow-right"></i></button>
                    </div>
                    <div>
                      <span>
                        Vous avez déja un compte ?
                        <a  class="text-success" routerLink="/login_pos" style="min-width: 100px" type="submit">se connecter <i class="fa fa-arrow-right"></i></a>
                         </span>
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-link home-link" href="index.html"><span class="btn-icon"><i class="ti-arrow-left font-20"></i>Accueil</span></a>
    </div>
</div><!-- BEGIN: Page backdrops-->
</div>
<app-footer></app-footer>
