<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

    <div class="page-content fade-in-up">

        <div class="card">
          <div class="card-body">
            <h5 class="box-title">GESTION DES CATEGORIES DE PRODUITS</h5>
            <div class="flexbox mb-4">
                <button type="button" (click)="addCat()"  class="btn btn-warning add text-white" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Ajouter une catégorie <i class="fa fa-plus"></i></button>

            </div>
            <div class="table-responsive">
                <div *ngIf="contentLoaded" class="row">
                  <app-skeleton-product-table></app-skeleton-product-table>
                </div>
                <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead class="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Description </th>
                            <th>Date d'ajout</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let category of categories">
                        <td>
                          <img style="height: 80px;width: 100px;" [src]="category.feature_image != '' && category.feature_image != null   ? '../../assets_leden/img/categoriesProd/' + category.feature_image : '../../assets_leden/img/default.png'" alt="" class="img-fluid mr-4">
                        </td>
                        <td>{{ category?.name }}</td>
                        <td>{{ category?.description !== null ? category?.description : '' }}</td>
                        <td>{{ category?.created_at | date: 'dd/mm/yyyy HH:mm'}}</td>
                        <td>
                            <a href="#" [routerLink]="['/product/', 'edit', category.id  ]" data-toggle="modal" data-target="#exampleModal" (click)="editCategory(category.id, category.name, category.description, category.feature_image)" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>&nbsp;
                            <button type="button" (click)="removeCategory(category.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>

                    </tbody>
                </table>
            </div>
          </div>
        </div>

  </div>


</div>
    </div>
</div>
<app-footer></app-footer>


<!-- Modal add Product-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{ title_modal }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

            <div class="form-group" id="validation-errors"></div>
            <div class="row">
              <span>&nbsp;Les champs avec (<span class="text-danger">*</span>) sont obligatoires</span>
            </div>
            <form [formGroup]="form" class="form" (ngSubmit)="addCategory()">
                <input type="hidden" name="id">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input type="text" class="md-form-control" [(ngModel)]="category.name" formControlName="name" ><label class="active">Nom de la catégorie<span class="text-danger">*</span></label>
                          <div *ngIf="f['name'].touched && f['name'].invalid" class="text-danger">
                              <div *ngIf="f['name'].invalid">*Le nom est obligatoire</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="md-form">
                        <input type="file" (change)="onFileSelected($event)" formControlName="feature_image" class="md-form-control"><label class="active">Image</label>
                        <div  class="badge badge-danger">
                          <!-- <div *ngIf="f['image']">*L'email valide est obligatoire</div> -->
                      </div>
                      </div>
                  </div>
                </div>

                <div class="md-form">
                  <textarea class="md-form-control" type="text" formControlName="description">{{ category.description }}</textarea><label >Description du produit </label>
                </div>


                  <button type="submit" [hidden]="!addCatBtn" class="btn btn-success btn-save" >Enrégistrer <i class="fa fa-save"></i></button>&nbsp;
                  <button type="button" [hidden]="!editCatBtn" (click)="updateCategory(category.id)" class="btn btn-warning btn-update text-white">Mettre à jour <i class="fa icons-reload" aria-hidden="true"></i></button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
            </form>
        </div>
      </div>
    </div>

  </div>

</div>

