<table class="table table-bordered data-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead class="thead-dark">
      <tr>
          <th>#ID Com.</th>
          <!-- <th>Total Net (FCFA)</th>
          <th>Mode Paiement</th> -->
          <th>Statut</th>
          <th>Date</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders_data">
      <td>{{ order.id }}</td>
      <!-- <td>{{ order.total_price | currency }}</td> -->
      <!-- <td *ngIf="order.payment_channel == 1"><span class="badge badge-dark text-white"><img src="../../../assets_leden/img/cash.png" height="20" width="35"/> Cash</span></td>
      <td *ngIf="order.payment_channel == 2"><span class="badge badge-warning text-white"><img src="../../../assets_leden/img/orange_money.png" height="20" width="35"/> Orange Money</span></td>
      <td *ngIf="order.payment_channel == 3"><span class="badge badge-info text-white"><img src="../../../assets_leden/img/wave.png" height="20" width="35"/> Wave</span></td> -->

      <td *ngIf="order.status == 'completed' "><span class="badge badge-info text-white">Payé</span></td>
      <td *ngIf="order.status == 'delivered' "><span class="badge badge-success text-white">Livré</span></td>
      <td *ngIf="order.status == 'ready-kitchen' "><span class="badge badge-success text-white">Cuisine pret...</span></td>
      <td *ngIf="order.status == 'on-hold' "><span class="badge badge-warning text-white">En attente de paiement...</span></td>
      <td *ngIf="order.status == 'processing' "><span class="badge badge-warning text-white">En cours de prépa...</span></td>
      <td *ngIf="order.status == 'failed' "><span class="badge badge-danger text-white"></span>Echoué</td>
      <td>{{ order.created_at | date:'dd/MM/yyyy à HH:mm' }}</td>
      <td>
        <button type="button" on-click="validateOrderByPreparator(order.id)" [disabled]="(order.status == 'ready-kitchen') || (order.status == 'delivered')"  class="btn btn-success orderBtn" data-id="${data.orders[i].id}" >Terminé
          <i class="fa fa-check"></i>
        </button>      </td>
    </tr>

  </tbody>
</table>
