<app-header></app-header>
<br/>
<!-- <section class="page-header " style="margin-top: 5%">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Boutique</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Boutique</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="products-shop section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 align-items-center" style="margin-top: 5%; background-color: rgb(240, 236, 236); color: black;">
        <h3 class="result-count mb-0 text-dark py-4 text-center text-bold"><b>Filtre par prix</b></h3>
        <div class="form-group py-3">
          <div class="custom-slider">
            <ngx-slider (valueChange)="getProductByPriceRange(minPrice, maxPrice)" [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options"></ngx-slider>
            <small class="form-text text-muted">Choisir le prix minimum et maximum pour filtrer</small></div>
        </div>
        <hr/>
        <h3 *ngIf="!categoryDetail" class="result-count mb-0 text-dark py-4 text-center"><b>Filtre par Catégories</b></h3>

          <div *ngIf="!categoryDetail" class="align-items-center align-self-center text-center ">
            <ng-multiselect-dropdown
            [placeholder]="'Choisir Catégorie(s)'"
            [settings]="dropdownSettingsCat"
            [data]="dropdownListCategories"
            [(ngModel)]="categories"
            (onSelect)="onCategorySelect($event)"
            (onSelectAll)="onSelectAllCategory()"
            (onDeSelect)="onCategoryDeSelect($event)"
          >
        </ng-multiselect-dropdown>
            <input type="hidden" name="paged" value="1">
      </div>
        <hr/>
        <h3 class="result-count mb-0 text-dark py-4 text-center"><b>Filtre par Produits</b></h3>
          <div class="align-items-center align-self-center text-center"  >
            <ng-multiselect-dropdown
            [placeholder]="'Sélectionner un produit'"
            [settings]="dropdownSettingsProd"
            [data]="dropdownListProducts"
            [(ngModel)]="productsResearch"
            (onSelect)="onProductSelect($event)"
            (onSelectAll)="onSelectAllProduct()"
            (onDeSelect)="onProductDeSelect($event)"
          >
        </ng-multiselect-dropdown>
            <input type="hidden" name="paged" value="1">
      </div>
      </div>

      <div class="col-md-9">
        <div class="row align-items-center">
          <div class="col-lg-12 mb-4 mb-lg-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a routerLink="/shop">Boutique</a> </li>
                <li *ngIf="categoryDetail" class="breadcrumb-item" aria-current="page">{{ categoryDetail.name }}</li>
              </ol>
            </nav>

            <div class="section-title align-items-center p-t-2" style=" background-color: rgb(240, 236, 236); height: 60px;margin-bottom:2% ;padding-bottom: 1%; padding-top: 1%">
                <!-- <h2 class="d-block text-left-sm">
                  <span style="font-size: 20px;">Vue : </span> <span style="background-color: azure;"><i class="fa fa-list"></i></span></h2> -->

                <div class="heading d-flex justify-content-between mb-5">
                  <div class="col-md-2">
                    <h4 class="result-count mb-2 text-muted" style="margin-left: 2%;">Total : {{ products?.length }}</h4>

                  </div>
                  <!-- <h4>Voir</h4> -->
                  <div class="col-md-2">
                    <span><i class="fa-solid fa-grid"></i></span>
                    <div class="ordering">
                      <div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" (click)="changeView('listView')" class="btn {{ viewList == false ? 'btn-secondary' : 'btn-warning text-white' }} "><i class="ti-view-list-alt"></i></button>
                          <button type="button" (click)="changeView('gridView')" class="btn {{ viewList == true ? 'btn-secondary' : 'btn-warning text-white' }}"><i class="ti-view-grid"></i></button></div>
                      </div>
                      <!-- <select name="orderby" (change)="changeView($event)" class="orderby form-control" aria-label="Shop order" >
                          <option value="listView" selected="selected">Vue Liste</option>
                          <option value="gridView"><i class="fa fa-list" aria-hidden="true"></i> Vue grille</option>
                      </select> -->
                      <input type="hidden" name="paged" value="1">
                    </div>
                  </div>

                  <div class="row ">

                    <form class="ordering col-md-5" method="get">
                      <select name="orderby" (change)="filterProducts($event)" class="orderby form-control" aria-label="Shop order" >
                          <option value="default" selected="selected">Trier par défaut</option>
                          <option value="popular">Trier par popularité</option>
                          <!-- <option value="">Trier par dernier</option> -->
                          <option value="lowToHigh" >Trier par prix : du plus bas au plus élevé</option>
                          <option value="HighToLow">Trier par prix : du plus élevé au plus bas</option>
                      </select>
                      <input type="hidden" name="paged" value="1">
                  </form>
                  <div class="col-md-3 cart_btn">
                    <a routerLink="/cart" class="btn btn-warning text-white "> <i class="tf-ion-android-cart"></i> Allez au panier <i class="fa fa-arrow-right"></i></a><br/><br/>
                  </div>

                  </div>
              </div>

            </div>
          </div>
        </div>

        <!-- <div  class="row align-items-center">

          <div class="col-lg-12 mb-4 mb-lg-0">
            <div class="section-title">
                <div class="heading d-flex justify-content-between mb-5">
                  <p class="result-count mb-0">Filtrer suivant les catégories et produits</p>
                  <div class="col-md-5">
                    <form class="ordering " method="get">
                      <ng-multiselect-dropdown
                      [placeholder]="'Choisir Catégorie(s)'"
                      [settings]="dropdownSettingsCat"
                      [data]="dropdownListCategories"
                      [(ngModel)]="categories"
                      (onSelect)="onCategorySelect($event)"
                      (onSelectAll)="onSelectAllCategory()"
                      (onDeSelect)="onCategoryDeSelect($event)"
                    >
                  </ng-multiselect-dropdown>
                      <input type="hidden" name="paged" value="1">
                  </form>
                  </div>
                  <div class="col-md-5">
                    <form class="ordering " method="get">
                      <ng-multiselect-dropdown
                      [placeholder]="'Sélectionner un produit'"
                      [settings]="dropdownSettingsProd"
                      [data]="dropdownListProducts"
                      [(ngModel)]="productsResearch"
                      (onSelect)="onProductSelect($event)"
                      (onSelectAll)="onSelectAllProduct()"
                      (onDeSelect)="onProductDeSelect($event)"
                    >
                  </ng-multiselect-dropdown>
                      <input type="hidden" name="paged" value="1">
                  </form>
                  </div>
              </div>

            </div>
          </div>
        </div> -->

        <div *ngIf="contentLoaded && viewList == false " class="row">
            <app-skeleton-product></app-skeleton-product>
        </div>
        <div *ngIf="contentLoaded && viewList == true " class="row">
          <app-skeleton-product-table></app-skeleton-product-table>

        </div>
        <!--GRID VIEW BEGIN-->
        <ngx-spinner
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
            [fullScreen] = "true"
          >
            <p style="font-size: 20px; color: white">Chargement produits...</p>
          </ngx-spinner>
        <div class="row col-md-12" *ngIf="products.length! > 0 && viewList == false && !contentLoaded">
          <br/>

            <div *ngFor="let product of products |  paginate: { itemsPerPage: 18, currentPage: p }; let i = index " class="col-md-4" >
              <ng-container>
                <div class="m-1 product card" style="border-radius: 15px 15px 12px 12px ;border: 1px solid rgb(212, 211, 210);box-shadow: 1px 1px rgb(212, 211, 210)" >
                  <div class="product-wrap">
                    <a [routerLink]="['/product-single/', product.id]"><img style="height: 170px;border-radius: 15px 15px 2px 2px ; border: 1px solid rgb(151, 150, 148);box-shadow: 1px 1px rgb(128, 124, 124);" class="img-fluid w-100 mb-3 img-first" [src]="product.feature_image != '' && product.feature_image != null   ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="product-img" /></a>
                    <!-- <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets_website/images/444.jpg" alt="product-img" /></a> -->
                  </div>

                  <div *ngIf="product.stock_qty !== 0">
                    <div *ngIf="checkIfPopularProd(product.id)" class="popularStar">
                      <small class="star-label">TOP 5</small>
                      <span class="pstar fa fa-star"></span>
                    </div>
                    <!-- <span style="margin-top: 5%;margin-left: 40%" class="inStockLabel text-center">En stock</span> -->
                    <br/>
                    <h6  class=" text-white badge badge-dark d-inline-flex p-2 qty-{{ product.id }} inStock" >
                      X {{ product.stock_qty }}
                      <span *ngIf="likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart text-danger"></i></span>
                      <span *ngIf="!likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart"></i></span>

                    </h6>
                  </div>
                  <div *ngIf="product.stock_qty == 0 || product.stock_qty == null">
                    <div *ngIf="checkIfPopularProd(product.id)" class="popularStar">
                      <small class="star-label">TOP 5</small>
                      <span class="pstar fa fa-star"></span>
                    </div>
                    <!-- <span style="margin-top: 5%;margin-left: 40%" class="outOfStockLabel" >Indisponible</span> -->
                    <br/>
                    <h6 style="" class=" text-white d-inline-flex p-2  badge badge-danger qty-{{ product.id }} outOfStock" >
                       En Rupture
                       <span *ngIf="likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart text-danger"></i></span>
                      <span *ngIf="!likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart"></i></span>
                    </h6>
                  </div>

                  <div class="product-hover-overlay">

                    <div *ngIf=" addProdToCartIdProd == product.id" class="input-group" style="width: 180px;">
                      <span class="input-group-prepend">
                        <button type="button"  (click)="removeAddCartBtn()" class="btn btn-danger" data-type="minus" data-field="quant[1]">
                            <span  class="fa fa-trash"></span>
                        </button>
                      </span>
                      <input  type="number" #quantity class="form-control" value="1" min="1" max="{{ product.stock_qty < 10 ?  product.stock_qty : 10}}">
                      <span class="input-group-prepend">
                          <button type="button" (click)="addToCart(product.id, quantity, product.stock_qty)" class="btn btn-warning text-white" data-type="plus" data-field="quant[1]">
                              <span class="fa fa-shopping-cart"></span>
                          </button>
                      </span>
                      </div>
                    <a (click)="addBtn(product.id)" *ngIf="(addProdToCartIdProd != product.id) " class="text-white" data-toggle="modal" data-target="#qty-product" ><i class="fa fa-cart-plus"></i></a>
                    <a *ngIf="addProdToCartIdProd != product.id" href="#" data-toggle="modal" (click)="showDetail(product.id)" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                    <a *ngIf="addProdToCartIdProd != product.id " class="text-white" [ngStyle]="{'background-color': likedProdsId.includes(product.id) == true ? '#ff392f' : ''}"   (click)="tapLike(product.id)"><i class=" fa fa-heart"></i></a>
                    <!-- <a class="text-white" style="background-color: #ff392f"   (click)="tapLike(product.id)"><i class=" fa fa-heart"></i></a> -->

                  </div>

                  <div class="product-info ">
                    <h3 class="product-title h5 mb-2"><a [routerLink]="['/product-single/', product.id]">{{ product.product_name }}</a></h3>
                    <div class="price card-footer"  >
                      {{ product.price | currency }} <span *ngIf="checkIfProdInCart(product.id)"><i class="fa fa-shopping-cart shopCartBadge" matBadge="{{ getCartProdQty(product.id) }}" matBadgeColor="accent" ></i> </span>
                    </div>
                  </div>
               </div>
              </ng-container>

            </div>
        </div>

        <div class="col-8" *ngIf="products.length! > 0 && viewList == false">
          <nav aria-label="Page navigation">
            <pagination-controls class="my-pagination float-right" (pageChange)="p = $event"
            previousLabel="Précédent"
            nextLabel="Suivant"></pagination-controls>
          </nav>
        </div>
        <div class="row" *ngIf="products.length! == 0 && !contentLoaded" >
          <div class="col-md-4"></div>
          <div class="col-md-6" style="margin-top: 4%;">
            <span class="alert alert-secondary text-center">Aucun produit disponible dans la boutique ...</span>
          </div>
        </div>

        <!--GRID VIEW end-->

        <!--PRODUCT LIST VIEW BEGIN-->
        <div>

        </div>

        <div *ngIf="products.length! > 0 && viewList == true && !contentLoaded" class="" >

          <table id="products" class="table " datatable [dtOptions]="dtOptions" >
              <thead class="thead-dark">
                  <tr>
                      <th>Image</th>
                      <th>Nom</th>
                      <th>Prix </th>
                      <th>Quantité </th>
                      <th>Ajouter au panier</th>

                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td>
                    <img style="height: 70px; width: 90px;border-radius: 5%;border: 1px solid rgb(206, 123, 22);box-shadow: 1px 2px rgb(128, 124, 124);" class="img-fluid w-100 mb-3 img-first" [src]="product.feature_image != '' && product.feature_image != null ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="product-img" />
                  </td>
                  <td>{{ product.product_name }} <br/><br/>
                    <span *ngIf="product.stock_qty > 0" class="badge badge-light"> X {{ product.stock_qty }} En Stock </span>
                    <span *ngIf="product.stock_qty <= 0 || product.stock_qty == null" class="badge badge-danger">Indisponible</span>
                  </td>
                  <td>{{ product.price | currency }}</td>
                  <td><input style="width: 40px" step="1" min="1" min="1" max="{{ product.stock_qty < 10 ?  product.stock_qty : 10}}" type="number" name="quantity" #quantity value="{{ getCartProdQty(product.id) != null ? getCartProdQty(product.id) : 0 }}"></td>
                  <td>
                    <a class="btn btn-secondary text-white" (click)="showDetail(product.id)" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a> &nbsp; &nbsp;
                    <button *ngIf="product.stock_qty > 0" matBadge="{{ getCartProdQty(product.id) }}" matBadgeColor="warn" (click)="addToCart(product.id, quantity, product.stock_qty)" class="btn btn-warning text-white shopCartBadge">Ajouter au panier</button>
                  </td>
                </tr>

              </tbody>
          </table>
      </div>
      <!--PRODUCT LIST VIEW END-->

      </div>
<!-- popular product -->
      <!-- <div class="col-md-3">


      <div class="widget" style="margin-top: 20%">
        <a routerLink="/cart" class="btn btn-warning text-white"> <i class="tf-ion-android-cart"></i> Allez au panier <i class="fa fa-arrow-right"></i></a><br/><br/>
      </div>
      <hr/>
        <section class="widget widget-popular mb-5">
          <h3 class="widget-title mb-4 h4">Produits Populaires</h3>

          <div *ngIf="contentLoaded" style="padding: 10px;">
            <app-skeleton-product-popular></app-skeleton-product-popular>
          </div>

          <div *ngIf="!contentLoaded">
            <div *ngIf="popularProducts.length! > 0">
              <div *ngFor="let product of popularProducts">
                <a class="card"  [routerLink]="['/product-single/', product.id]">
                  <div class="row no-gutters" >
                    <div class="col-md-6">
                      <img class="card-img"  [src]="product.feature_image != '' && product.feature_image != null  ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="" class="img-fluid mr-2">
                    </div>

                    <div class="media-body align-items-center py-3">

                      <h4 class="card-title text-center">{{ product.product_name }}
                        <span class="text-center">{{ product.price | currency }}</span>
                      </h4>

                    </div>

                  </div>
                </a>
              </div>
            </div>
          </div>


        </section>
      </div> -->
    </div>
  </div>
</section>
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Détails du produit: {{ productDetail?.product_name }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

                <div class="row">
                  <div class="col-md-5">
                    <div class="single-product-slider">
                      <div class="carousel slide" data-ride="carousel" id="single-product-slider">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img style="border-radius: 5%; border: 0.1px solid rgb(206, 123, 22);box-shadow: 1px 2px rgb(128, 124, 124);" [src]="productDetail?.feature_image != '' && productDetail?.feature_image != null  ? '../../assets_leden/img/products/' + productDetail?.feature_image : '../../assets_leden/img/default.png'" alt="" class="img-fluid">
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="single-product-details mt-5 mt-lg-0">
                      <h2>{{ productDetail?.product_name }}</h2>
                      <div class="sku_wrapper mb-4">
                       <span *ngIf="productDetail?.stock_qty != 0" class="text-muted">En Stock </span>
                       <span *ngIf="productDetail?.stock_qty == 0" class="text-danger">Indisponible</span>
                      </div>

                      <hr>

                      <h3 class="product-price">{{ productDetail?.price | currency}} <del>CFCFA119.90</del></h3>

                      <p class="product-description my-4 ">
                        {{ productDetail?.description }}
                      </p>

                      <form class="cart" action="#" method="post">
                        <div class="quantity d-flex align-items-center" >
                          <input type="number" #quantity class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" size="4" >
                          <button [disabled]="productDetail?.stock_qty == 0"   (click)="addToCart(productDetail.id, quantity, productDetail.stock_qty)"   class="btn btn-warning text-white">Ajouter au panier</button>
                        </div>
                      </form>


                      <div class="products-meta mt-4">
                        <div class="product-category d-flex align-items-center">
                          <!-- <span class="font-weight-bold text-capitalize product-meta-title">Catégorie :</span> -->
                          <span *ngFor="let category of productDetail?.categories | keyvalue">
                            <!-- <a href="#" class="badge badge-dark text-white">{{ category.value}} </a> -->
                          </span>

                          <!-- <a href="#"></a> -->
                        </div>

                        <div class="product-share mt-5">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
        <div class="card-footer">
          <div class="col-md-5"></div>
          <div class="col-md-5">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

   <!-- Modal add proudct quantity to cart-->
   <!-- <div class="modal fade" id="qty-product" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content py-5">
          <div class="modal-body">
             <form>
                <div class="form-group">
                   <input class="form-control" id="touchspin_1" type="text">
                </div>
                <button type="button" class="btn btn-main btn-small" data-dismiss="modal">Soumettre le Coupon</button>
             </form>
          </div>
       </div>
    </div>
 </div> -->

 <!-- <app-footer-ecom></app-footer-ecom> -->
<app-footer-ecom></app-footer-ecom>
<script>

</script>
