
  .my-pagination /deep/ .ngx-pagination .current {
    background: orangered;
  }

.shopCartBadge
{
  color: rgb(43, 41, 41);
  border: 1px solid #fff;
}

.shopCartBadge .mat-badge-content
{
  background-color: rgb(113, 113, 110);
  color: rgb(255, 253, 253);
  border: 1px solid rgb(224, 147, 39);
}

