<div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/dashboard_ecomm" routerLinkActive="active">Tableau de bord</a>
</div>
<div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/order" routerLinkActive="active" >Commandes</a>
</div>

<div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/edit-address" routerLinkActive="active" >Adresse</a>
</div>
<div class="nav flex-column nav-pills">
  <a class="nav-link" routerLink="/profile-details" routerLinkActive="active">Infos Compte</a>
</div>
<div class="nav flex-column nav-pills">
  <a class="btn nav-link" (click)="logout()" >Se Déconnecter</a>
</div>
