<app-header></app-header>
<!-- <section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Checkout</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="page-wrapper">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent justify-content-center">
      <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Checkout</li>
    </ol>
  </nav>

   <div class="checkout shopping">
      <div class="container" >
         <!-- <div > -->
          <ngx-spinner
              bdColor="rgba(248,155,28,0.8)"
              size="medium"
              color="#fff"
              type="ball-scale-multiple"
            >
              <p style="font-size: 20px; color: white">En attente du paiement...</p>
            </ngx-spinner>
          <form class="row"  [formGroup]="checkoutForm" (ngSubmit)="placeOrder()" >

            <div class="col-lg-8 pr-5">
              <div class="coupon-notice " >
                    <div class="bg-light p-3" *ngIf="isSignedIn && (roleUser == 2 || roleUser == 0)">
                      <span class="">Caissier</span> <br/>=================================<br/>
                      <span><input type="radio" (change)="selectOrderTypeByCashier($event)" name="order_type" id="order_type" checked value="1"> Commande en Cash</span><br/>
                      <span><input type="radio" (change)="selectOrderTypeByCashier($event)" name="order_type" id="order_type" value="2"> Commande avec Mobile Money</span>
                   </div>
                   <div class="bg-light p-3">
                       Avez-vous un coupon? <a data-toggle="modal" data-target="#coupon-modal" routerLink="/checkout" class="showcoupon" >Cliquez ici pour renseigner le code</a>
                   </div>

               </div>

               <div class="billing-details mt-5">
                  <h4 class="mb-4">Détails de la facturation</h4>
                  <!-- <form class="checkout-form" [formGroup]="checkoutForm" (ngSubmit)="placeOrder()" > -->
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <label for="first_name">Prénoms <span class="text-danger">*</span></label>
                              <input  type="text" formControlName="firstname" name="firstname" class="form-control" value="{{ UserProfile?.firstname}}" id="first_name" placeholder="Renseignez vos prénoms">
                           </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <label for="last_name">Nom <span class="text-danger">*</span></label>
                              <input  type="text" formControlName="lastname" class="form-control" value="{{ UserProfile?.lastname}}" id="last_name" placeholder="Renseignez votre nom">
                           </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="first_name">Adresse de la rue (Optionnel)</label>
                              <input  type="text" formControlName="address1" value="{{ UserProfile?.address1}}" class="form-control" id="street" placeholder="Renseignez votre adresse actuelle">
                           </div>
                        </div>
                         <!-- <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="first_name">Appartement, suite, etc. (Optionnel) </label>
                              <input type="text"   class="form-control" id="apartment" placeholder="Appartement">
                           </div>
                        </div> -->

                         <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="first_name">Ville / Cité (Optionnel) </label>
                              <input  type="text" formControlName="city" value="{{ UserProfile?.city}}" class="form-control" id="city" placeholder="Ville">
                           </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <label for="first_name">Téléphone <span class="text-danger">*</span> :</label>
                              <input prefix="+(221)" mask="99 999 99 99"  type="text" formControlName="phone_number" value="{{ UserProfile?.phone_number}}" class="form-control" id="phone" placeholder="+(221) 77 777 77 77">
                           </div>
                        </div>

                        <div class="col-lg-6">
                           <!-- <div class="form-group mb-4"> -->
                             <div>
                              <label class="form-label"  for="">Moyen de Paiement<span class="text-danger">*</span> : </label>
                             </div>
                              <!-- <div class=""> -->
                                <div class="form-check form-check-inline" *ngIf="orderType == 1">
                                  <label class="form-check-label" for="cash"><img src="../../../assets_leden/img/cash.png" height="20" width="35"/> Cash </label>&nbsp;<input type="radio" id="payment_channel" value="1"  formControlName="payment_channel"  class="form-check-input" checked/>
                                 </div>
                              <!-- </div> -->
                              <!-- <div class=""> -->
                                <div class="form-check form-check-inline" *ngIf="orderType == 2 || !roleUser ">
                                  <span class="form-check-label"><img src="../../../assets_leden/img/orange_money.png" height="20" width="35"/> O M </span>&nbsp; <input type="radio"  id="payment_channel" value="2"  formControlName="payment_channel" class="form-check-input"  />
                                </div>
                              <!-- </div> -->
                              <!-- <div class=""> -->
                                <div class="form-check form-check-inline" *ngIf="orderType == 2 || !roleUser ">
                                  <span class="form-check-label"><img src="../../../assets_leden/img/wave.png" height="20" width="35"/> Wave </span>&nbsp; <input type="radio" id="payment_channel" value="3" formControlName="payment_channel" class="form-check-input" />
                                </div>

                              <!-- </div> -->
                           <!-- </div> -->
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="first_name">Adresse Email (Optionnel)</label>
                              <input type="text" formControlName="email" value="{{ UserProfile?.email}}"  class="form-control" id="email" placeholder="Votre adresse Email">
                           </div>
                        </div>

                        <div class="col-lg-12">
                         <div class="form-check mb-4">
                            <label class="form-check-label" for="exampleCheck1"><a routerLink="/signup">Vous n'avez pas de compte ? Créer un compte</a></label>
                          </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="form-check mb-4">
                               <input (change)="toogleAddress2" #toogleAddress2 type="checkbox" class="form-check-input" placeholder="Renseignez la nouvelle adresse" >
                               <label class="form-check-label" for="exampleCheck2">Livrer à une adresse différente?(Optionnel)</label>
                               <input *ngIf="toogleAddress2.checked" type="text" formControlName="address2" value="{{ UserProfile?.address2}}" class="form-control" id="street" placeholder="Renseignez une adresse de Livraison">

                             </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="first_name">Notes de la commande (Optionnel)</label>
                              <textarea class="form-control" formControlName="notes"  id="msg" cols="30" rows="5" placeholder="Notes sur la commande e:g: je veux dire quelque chose"></textarea>
                           </div>
                        </div>
                     </div>
                  <!-- </form> -->
               </div>
            </div>

            <!-- Order sidebar Summery -->
            <div class="col-md-6 col-lg-4">
               <div class="product-checkout-details mt-5 mt-lg-0">
                     <h4 class="mb-4 border-bottom pb-4">Récapitulatif de la commande</h4>
                    <div style="height: 200px; overflow-y: scroll" *ngIf="cartItems.length > 0">
                      <div class="media product-card"  *ngFor="let cartItem of cartItems">
                        <p>{{ cartItem.products.product_name }}</p>
                       <div class="media-body text-right">
                          <p class="h6">{{ cartItem.prod_qty }} x {{ cartItem.products.price | currency }}</p>
                       </div>
                    </div>
                    </div>


                     <ul class="summary-prices list-unstyled mb-4"  *ngIf="cartItems.length > 0">
                        <li class="d-flex justify-content-between">
                           <span >Sous total:</span>
                           <span class="h6">{{ subTotal | currency }}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                           <span >Livraison:</span>
                           <span class="h6">Gratuite</span>
                        </li>
                        <li class="d-flex justify-content-between">
                           <span>Total</span>
                           <span class="h5">{{ subTotal | currency }}</span>
                        </li>
                     </ul>

                     <!-- <form action="#" > -->
                        <!-- <div class="form-check mb-3" *ngIf="orderType == 2 || !roleUser"> -->
                          <div class="form-check mb-3" >
                          <input (change)="ChangePayType($event)" class="form-check-input" type="radio" name="payment_type" id="exampleRadios1" value="1" checked>
                          <label  class="form-check-label" for="exampleRadios1">
                            Virement par Mobile Money direct
                          </label>

                          <div *ngIf="directPay">
                            <div class="alert alert-secondary mt-3" role="alert">
                              Effectuez votre paiement en une seule fois. Soit par Orange Money ou par Wave de manière sécurisé<em></em><i class="fa fa-people-group"></i>
                            </div>

                           </div>


                        </div>

                        <div class="form-check mb-3" >
                          <!-- <div class="form-check mb-3" *ngIf="orderType == 2 || !roleUser "> -->
                          <input (change)="ChangePayType($event)" class="form-check-input" type="radio" name="payment_type" id="payment_type" value="2">
                          <label  class="form-check-label" for="exampleRadios2">
                            Paiement partagé
                          </label>
                          <div *ngIf="!directPay">
                            <div class="alert alert-secondary mt-3" role="alert">
                              Partagez votre paiement avec au plus 4 personne(s). En utilisant Orange Money ou Wave de manière sécurisée
                            </div>
                            <div>
                              <input type="number"  formControlName="mainAmount" required  value="{{ subTotal }}" placeholder="Renseignez le montant principal" class="form-control">
                            </div>
                            <div formArrayName="contacts"  class="py-4" *ngFor="let c of contacts.controls; let i = index">
                              <div [formGroupName]="i">
                                <div>
                                  <label class="form-label"  for="contact1"><b>Moyen de Paiement:</b> </label>
                                </div>

                                  <div class="form-check form-check-inline">
                                    <span class="form-check-label"><img src="../../../assets_leden/img/orange_money.png" height="20" width="35"/>
                                      <label for="{{ 'payment_channel' + i }}">Orange Money </label>
                                    </span>&nbsp;
                                    <input class="form-check-input" formControlName="payment_channel" id="{{ 'payment_channel' + i }}"  type="radio"  value="2"/>
                                  </div>
                                  <div class="form-check form-check-inline">
                                   <span class="form-check-label"><img src="../../../assets_leden/img/wave.png" height="20" width="35"/>
                                    <label for="{{ 'payment_channel' + i }}">Wave </label>
                                  </span> &nbsp;
                                   <input formControlName="payment_channel" id="{{ 'payment_channel' + i }}"   class="form-check-input" type="radio" value="3"/>
                                   <div *ngIf="contactForm.controls['payment_channel']?.invalid && (contactForm.controls['payment_channel']?.dirty || contactForm.controls['payment_channel']?.touched)"
                                                class="alert">

                                              <div *ngIf="contactForm.controls['payment_channel'].errors?.['required']">
                                               Le canal est obligatoire
                                              </div>

                                            </div>
                                  </div>
                                  <div class="">
                                    <label  for="contact">Information du Contact <span class="text-danger">*</span></label>
                                    <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                                      </div>
                                      <input
                                            type="text"
                                            class="form-control"
                                            [required]="true"
                                            prefix="+(221)"
                                            mask="99 999 99 99"
                                            id="{{ 'phone_number' + i }}"
                                            formControlName="phone_number"
                                            placeholder="Renseignez le contact ...">
                                            <div *ngIf="submittedF && contactForm.controls['phone_number']?.invalid && (contactForm.controls['phone_number']?.dirty || contactForm.controls['phone_number']?.touched)"
                                                class="text-danger">

                                              <div *ngIf="contactForm.controls['phone_number'].errors?.['required']">
                                                Le numéro est obligatoire
                                              </div>

                                            </div>
                                    </div>
                                    <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                                      </div>
                                      <input
                                            type="text"
                                            class="form-control"
                                            [required]="true"
                                            id="{{ 'name' + i }}"
                                            formControlName="name"
                                            placeholder="Renseignez son nom ...">
                                            <div *ngIf="submittedF && contactForm.controls['name']?.invalid && (contactForm.controls['name']?.dirty || contactForm.controls['name']?.touched)"
                                            class="text-danger">

                                              <div *ngIf="contactForm.controls['name'].errors?.['required']">
                                                Le nom est obligatoire
                                              </div>

                                            </div>
                                    </div>
                                    <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-wallet"></i></div>
                                      </div>
                                      <input
                                            type="number"
                                            class="form-control"
                                            [required]="true"
                                            formControlName="amount"
                                            placeholder="Renseignez le montant ...">
                                            <div *ngIf="submittedF && contactForm.controls['amount']?.invalid && (contactForm.controls['amount']?.dirty || contactForm.controls['amount']?.touched)"
                                                class="text-danger" >

                                              <div *ngIf="contactForm.controls['amount'].errors?.['required']">
                                                Le montant est obligatoire
                                              </div>

                                            </div>
                                    </div>
                                        <br/>
                                    <button type="button" (click)="deleteContact(i)" class="btn btn-danger ">Retirer <i class="fa fa-trash"></i></button>
                                    <hr/>
                                  </div>
                              </div>


                          </div>
                          <button type="button" (click)="addContact()"  class="btn btn-info float-right">Ajouter contact <i class="fa fa-user-plus"></i></button>
                         <div><br/></div>

                          </div>

                        </div>

                         <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                            <label class="form-check-label" for="exampleCheck3">J'ai lu et j'accepte les termes et conditions du site *</label>
                          </div>
                     <!-- </form> -->

                     <div class="info mt-4 border-top pt-4 mb-5">
                      Vos données personnelles seront utilisées pour traiter votre commande, soutenir votre expérience sur ce site Web et à d'autres fins décrites dans notre <a href="#">politique de confidentialité</a>.
                     </div>
                     <button type="button" (click)="placeOrder()" [disabled]="!checkoutForm.valid || cartItems.length <= 0" class="btn btn-warning text-white">Passer la commande <i class="fa fa-arrow-right"></i></button>
               </div>
            </div>
         </form>
        <!-- </div> -->
      </div>
   </div>
</div>


   <!-- Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content py-5">
            <div class="modal-body">
               <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()" >
                  <div class="form-group">
                     <input class="form-control" type="text" formControlName="coupon_code" placeholder="Entrer votre code ici" >
                     <div *ngIf="submitted && couponForm.controls['coupon_code']?.invalid && (couponForm.controls['coupon_code']?.dirty || couponForm.controls['coupon_code']?.touched)"
                          class="text-danger" >

                        <div *ngIf="couponForm.controls['coupon_code'].errors?.['required']">
                          Le code est obligatoire
                        </div>

                      </div>
                  </div>
                  <button type="submit" class="btn btn-main btn-small" data-dismiss="modal">Appliquer le Coupon</button>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- <app-footer-ecom></app-footer-ecom> -->
