
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">

        <div class="card">
          <div class="card-body">
              <div class="flexbox mb-4">

              </div>
              <div class="">
                  <h1 class="text-center">LEDEN <span class="text-success">P</span><span class="text-danger">O</span><span class="text-warning">S</span></h1>
                  <br/>
                  <p class="text-center" style="color: silver">Version 1.0.0</p>
                  <p class="text-center" style="color: silver">from</p>
                  <p class="text-center"><img src="../../assets_leden/img/logo2.png" height="50" alt=""></p>
                  <br/>
              </div>

              <br/>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
