<div>
  <ngx-skeleton-loader
  count="5"
  appearance="circle"
  [theme] = "{
    'margin': '10px',
    'margin-bottom': '20px',
    'height': '170px',
    'width': '170px'
  }"
  >
  <span style="height: 5px; width: 150px; "></span>

</ngx-skeleton-loader>

</div>
