<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" /><!-- THEME STYLES-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  -->

<div class="page-wrapper">
  <div class="content-wrapper">
    <app-leftbar></app-leftbar>
    <div class="content-area">
      <app-topbar></app-topbar>

    <div class="page-content fade-in-up">

        <div class="card">
          <div class="card-body">
            <h5 class="box-title">GESTION DES UTILISATEURS</h5>
            <div class="flexbox mb-4">
                <button type="button" on-click="addUser()" class="btn btn-warning add text-white" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Ajouter Utilisateur <i class="fa fa-plus"></i></button>

            </div>
            <div class="table-responsive">
                <span id="addSuccess"></span>
                <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead class="thead-dark">
                        <tr>
                            <th>#ID</th>
                            <th>Role</th>
                            <th>Identifiant </th>
                            <th>Prénoms </th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <td>{{ user.id }}</td>
                        <td *ngIf="user.role == 0">Super Admin</td>
                        <td *ngIf="user.role == 1">Admin</td>
                        <td *ngIf="user.role == 2">Caissier</td>
                        <td *ngIf="user.role == 3">Préparateur</td>
                        <td *ngIf="user.role == 4">Client</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.created_at | date: 'dd/mm/yyyy HH:mm'}}</td>
                        <td>
                            <a href="#" [routerLink]="['/user/', 'edit', user.id  ]" data-toggle="modal" data-target="#exampleModal" (click)="editUser(user.id, user.role, user.username, user.lastname,user.firstname, user.email)" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>&nbsp;
                            <button type="button" (click)="deleteUser(user.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>

                    </tbody>
                </table>
            </div>
          </div>
        </div>

  </div>


</div>
    </div>
</div>
<app-footer></app-footer>


<!-- Modal add User-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title_modal }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

            <div class="form-group" id="validation-errors"></div>
            <span>&nbsp;Les champs avec (<span class="text-danger">*</span>) sont obligatoires</span>
            <form [formGroup]="form" class="form" (ngSubmit)="createUser()">
                <input type="hidden" name="id">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input type="text" class="md-form-control" [(ngModel)]="user.firstname" formControlName="firstname" ><label class="active">Prénoms<span class="text-danger">*</span></label>
                          <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="badge badge-danger">
                              <div *ngIf="f['firstname'].invalid">*Le prénom est obligatoire</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input class="md-form-control" type="text" [(ngModel)]="user.lastname" formControlName="lastname"><label class="active">Nom <span class="text-danger">*</span></label>
                          <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="badge badge-danger">
                            <div *ngIf="f['lastname']">*Le nom est obligatoire</div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input type="text" formControlName="email" class="md-form-control" [(ngModel)]="user.email" ><label class="active">Email <span class="text-danger">*</span></label>
                          <div *ngIf="f['email'].touched && f['email'].invalid" class="badge badge-danger">
                            <div *ngIf="f['email']">*L'email valide est obligatoire</div>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input class="md-form-control" type="text" formControlName="username" [(ngModel)]="user.username"><label class="active">Identifiant <span class="text-danger">*</span></label>
                          <div *ngIf="f['username'].touched && f['username'].invalid" class="badge badge-danger">
                            <div *ngIf="f['username']">*L'Identifiant est obligatoire</div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="md-form">
                  <input class="md-form-control" type="password" formControlName="password"><label >Mot de passe <span class="text-danger">*</span></label>
                  <div *ngIf="f['password'].touched && f['password'].invalid" class="badge badge-danger">
                    <div *ngIf="f['password']">*Le mot de passe est obligatoire (min: 6 caractères)</div>
                </div>
                </div>
                <div class="md-form">
                  <input class="md-form-control" type="password" formControlName="verification_password"><label>Retaper le Mdp</label>
                  <div *ngIf="f['verification_password'].touched && f['verification_password'].invalid" class="badge badge-danger">
                    <div *ngIf="f['verification_password']">*La confirmation de  mot de passe est obligatoire</div>
                </div>
                </div>
                <select class="mdb-select md-form md-form-control" id="select_role" formControlName="role">
                    <option value="" disabled>Choisir le role</option>
                    <option value="1" [selected]="user.role == 1">Admin</option>
                    <option value="2" [selected]="user.role == 2">Caissier</option>
                    <option value="3" [selected]="user.role == 3">Préparateur</option>
                  </select>
                  <div *ngIf="f['role'].touched && f['role'].invalid" class="badge badge-danger">
                    <div *ngIf="f['role']">*Le role est obligatoire</div>
                  </div>
                  <button type="submit" [hidden]="!btnAdd" class="btn btn-success btn-save" >Enrégistrer <i class="fa fa-save"></i></button>&nbsp;
                  <button type="button" [hidden]="!btnEdit" (click)="updateUser(user.id)" class="btn btn-warning btn-update text-white">Mettre à jour <i class="fa icons-reload" aria-hidden="true"></i></button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
            </form>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- end modal add/edit user-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->

<!-- <script src="../assets_leden/vendors/jquery/dist/jquery.min.js"></script> -->
<!-- <script src="../../../assets_leden/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets_leden/vendors/jquery-validation/dist/jquery.validate.min.js"></script> -->

<!-- Bootstrap -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 -->

<!-- <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script src="../../../assets_leden/js/app.min.js"></script>PAGE LEVEL SCRIPTS -->
