
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>
      <div class="page-content fade-in-up">
        <div>
          <div class="bg-white pt-4 px-5" style="margin: -30px -30px 40px">
              <div class="flexbox mb-4 mt-3">
                  <div class="media"><span class="position-relative d-inline-block mr-4"><img class="" src="/../assets_leden/img/logo2.png" alt="image" width="100" /><span  style="bottom: 5px;right: 14px;height: 14px;width: 14px;"></span></span>
                      <div class="media-body">
                          <div class="h4">Nom de la boutique</div>
                          <div class="text-muted">SuperAdmin</div>

                      </div>
                  </div>
              </div>
              <ul class="nav line-tabs m-0">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="ti-briefcase nav-tabs-icon"></i>Boutique Info</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-3"><i class="ti-settings nav-tabs-icon"></i>Config Basique</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="fa fa-cogs nav-tabs-icon"></i>Config Logo/Images</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-4"><i class="fa fa-cogs nav-tabs-icon"></i>Config Avancée</a></li>

              </ul>
          </div>
          <div class="tab-content mt-5">
              <div class="tab-pane fade show active" id="tab-1">
                  <div class="row">
                      <div class="col-lg-5">
                          <div class="card">
                              <div class="card-body">
                                  <div class="d-flex justify-content-between mb-4">
                                      <h5 class="box-title mb-0">Informations de la boutique</h5>
                                  </div>
                                  <ul class="list-unstyled media-list-divider">
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-facebook btn-floating mr-3" href="#"><i class="fa fa-info-circle"></i></a>
                                          <div class="media-body flexbox">
                                              <div>
                                                  <h6>Nom de la Boutique</h6>
                                                  <div class="text-muted"></div>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-secondary btn-floating mr-3" href="#"><i class="fa fa-info-circle"></i></a>
                                          <div class="media-body flexbox">
                                              <div>
                                                  <h6>Contacts de la Boutique</h6>
                                                  <div class="text-muted"></div>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-twitter btn-floating mr-3" href="#"><i class="fa fa-location-arrow"></i></a>
                                          <div class="media-body flexbox">
                                              <div>
                                                  <h6>Adresses de la Boutique</h6>
                                                  <div class="text-muted"></div>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-twitter btn-floating mr-3" href="#"><i class="fa fa-location-arrow"></i></a>
                                        <div class="media-body flexbox">
                                            <div>
                                                <h6>Description de la boutique</h6>
                                                <div class="text-muted"></div>
                                            </div>
                                        </div>
                                    </li>

                                  </ul>
                              </div>
                          </div>

                      </div>
                      <div class="col-lg-7">



                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-2">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="box-title">Configuration des ressources(images) de la boutique</h4>
                         <div>

                         </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-3">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="box-title">Configuration basique de la boutique</h4>
                          <form>

                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="md-form"><input class="md-form-control"  type="text" value=""><label>Nom de la boutique </label></div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="md-form"><input class="md-form-control" type="text" value=""><label>Contacts</label></div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="input-group-icon input-group-icon-right mb-4">
                                          <div class="md-form mb-4"><input class="md-form-control m-0"  type="text" value=""><label>Addresse de la  boutique </label><span class="input-icon input-icon-right"><i class="material-icons">place</i></span></div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="input-group-icon input-group-icon-right mb-4">
                                        <div class="md-form mb-4"><input class="md-form-control m-0 active" type="text"  value=""><label>Email d'Information de la boutique</label><span class="input-icon input-icon-right "><i class="material-icons"></i></span></div>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="input-group-icon input-group-icon-right mb-4">
                                          <div class="md-form mb-4">
                                            <textarea class="md-form-control m-0"  value=""></textarea>
                                            <label>Description de la boutique</label><span class="input-icon input-icon-right"><i class="material-icons"></i></span></div>
                                      </div>
                                  </div>

                              </div>

                              <div class="form-group">
                                <button  class="btn btn-warning mr-2 waves-effect waves-light text-white" type="submit">Mettre à jour</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Configuration Avancée</h4>
                        <form >
                          <!-- <div class="row" *ngIf="submitted && errors">
                            <div class="col">
                                  <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                                    {{ errors?.password }}
                                  </div>
                                  <div *ngIf="errors?.verification_password" class="alert alert-danger mt-3">
                                    {{ errors?.verification_password }}
                                  </div>
                                  <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                      {{ errors?.error }}
                                  </div>
                            </div>
                          </div> -->
                          <!-- <div class="form-group col-md-6">
                            <label >Nouveau Mot de Passe</label>
                            <input formControlName="password"  type="password" value="" class="form-control" placeholder="">
                          </div>
                          <div class="form-group  col-md-6">
                            <label >Confirmation du mot de passe</label>
                            <input formControlName="verification_password" type="password" value="" class="form-control" placeholder="">
                          </div>
                            <div class="form-group ">
                              <button   class="btn btn-warning mr-2 waves-effect waves-light text-white" type="submit">Mettre à jour</button>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </div>
      </div>
    </div>


  </div>
</div>
<!-- <script src="../assets_leden/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets_leden/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets_leden/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets_leden/js/app.min.js"></script> -->
