
<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>
      <div class="page-content fade-in-up">
        <div>
          <div class="bg-white pt-4 px-5" style="margin: -30px -30px 40px">
              <div class="flexbox mb-4 mt-3">
                  <div class="media"><span class="position-relative d-inline-block mr-4"><img class="rounded-circle" [src]="UserProfile.avatar != '' && UserProfile.avatar != null   ? '/../assets_leden/img/users/' + UserProfile.avatar : '/../assets_leden/img/users/user.png'" alt="avatar" width="100" /><span class="badge-point badge-success avatar-badge" style="bottom: 5px;right: 14px;height: 14px;width: 14px;"></span></span>
                      <div class="media-body">
                          <div class="h4">{{ UserProfile?.username }}</div>
                          <div *ngIf="UserProfile?.role == 0" class="text-muted">SuperAdmin</div>
                          <div *ngIf="UserProfile?.role == 1" class="text-muted">Administrateur</div>
                          <div *ngIf="UserProfile?.role == 2" class="text-muted">Caissier</div>
                          <div *ngIf="UserProfile?.role == 3" class="text-muted">Préparateur</div>
                      </div>
                  </div>
              </div>
              <ul class="nav line-tabs m-0">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="ti-briefcase nav-tabs-icon"></i>Profil Info</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-2"><i class="ti-pulse nav-tabs-icon"></i>Modifier photo de profil</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-3"><i class="ti-settings nav-tabs-icon"></i>Modifier Infos Compte</a></li>
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-4"><i class="ti-lock nav-tabs-icon"></i>Modifier Mot de passe</a></li>

              </ul>
          </div>
          <div class="tab-content mt-5">
              <div class="tab-pane fade show active" id="tab-1">
                  <div class="row">
                      <div class="col-lg-5">
                          <div class="card">
                              <div class="card-body">
                                  <div class="d-flex justify-content-between mb-4">
                                      <h5 class="box-title mb-0">Profil</h5>
                                  </div>
                                  <ul class="list-unstyled media-list-divider">
                                    <li class="media py-3 align-items-center"><a class="btn btn-sm btn-secondary btn-floating mr-3" href="#"><i class="fa fa-info-circle"></i></a>
                                      <div class="media-body flexbox">
                                          <div>
                                              <h6>Nom d'utilisateur</h6>
                                              <div class="text-muted">{{ UserProfile?.username }}</div>
                                          </div>
                                      </div>
                                    </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-secondary btn-floating mr-3" href="#"><i class="fa fa-info-circle"></i></a>
                                          <div class="media-body flexbox">
                                              <div>
                                                  <h6>Nom</h6>
                                                  <div class="text-muted">{{ UserProfile?.lastname }}</div>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-secondary btn-floating mr-3" href="#"><i class="fa fa-info-circle"></i></a>
                                          <div class="media-body flexbox">
                                              <div>
                                                  <h6>Prénoms</h6>
                                                  <div class="text-muted">{{ UserProfile?.firstname }}</div>
                                              </div>
                                          </div>
                                      </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-secondary btn-floating mr-3" href="#"><i class="fa fa-envelope"></i></a>
                                        <div class="media-body flexbox">
                                            <div>
                                                <h6>Email</h6>
                                                <div class="text-muted">{{ UserProfile?.email }}</div>
                                            </div>
                                        </div>
                                    </li>
                                      <li class="media py-3 align-items-center"><a class="btn btn-sm btn-secondary btn-floating mr-3" href="#"><i class="fa fa-location-arrow"></i></a>
                                          <div class="media-body flexbox">
                                              <div>
                                                  <h6>Adresse</h6>
                                                  <div class="text-muted">{{ UserProfile?.address1 }}</div>
                                              </div>
                                          </div>
                                      </li>

                                  </ul>
                              </div>
                          </div>

                      </div>
                      <div class="col-lg-7">



                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-2">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="box-title">Modifier ma photo de profil</h4>
                         <div>
                          <div class="mr-3 mb-3" style="max-width: 200px">
                            <form [formGroup]="AvatarForm" (ngSubmit)="updateAvatar()"  >
                              <div *ngIf="!filePath ">
                                <img [src]="UserProfile.avatar != '' && UserProfile.avatar != null   ? '/../assets_leden/img/users/' + UserProfile.avatar : '/../assets_leden/img/users/user.png'" alt="avatar" [alt]="AvatarForm.value.name">
                              </div>
                                <div *ngIf="filePath && filePath !== ''">
                                  <img [src]="filePath" [alt]="AvatarForm.value.name">
                                </div>

                                 <input type="file" (change)="onFileSelected($event)" formControlName="avatar" class="md-form-control"><label class="active"></label>
                              <div class="form-group">
                                <button [disabled]="AvatarForm.invalid"  class="btn btn-warning mr-2 waves-effect waves-light text-white" type="submit">Mettre à jour</button>
                              </div>
                            </form>
                        </div>
                         </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-3">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="box-title">Modification des Informations Personnelles</h4>
                          <form [formGroup]="AccountForm" (ngSubmit)="updateAdminInfo()">
                            <div class="row" *ngIf="submitted && errors">
                              <div class="col">
                                  <!-- <div class="alert alert-danger">
                                      <strong>Oops!</strong> Vous avez saisi des champs sont incorrects.
                                  </div> -->
                                     <!-- Errors -->
                                    <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                                      {{ errors?.email }}
                                    </div>
                                    <div *ngIf="errors?.username" class="alert alert-danger mt-3">
                                      {{ errors?.username }}
                                    </div>
                                    <div *ngIf="errors?.lastname" class="alert alert-danger mt-3">
                                      {{ errors?.lastname }}
                                    </div>
                                    <div *ngIf="errors?.firstname" class="alert alert-danger mt-3">
                                      {{ errors?.firstname }}
                                    </div>
                                    <div *ngIf="errors?.address1" class="alert alert-danger mt-3">
                                      {{ errors?.address1 }}
                                    </div>
                                    <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                        {{ errors?.error }}
                                    </div>
                              </div>
                            </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="md-form"><input class="md-form-control" [(ngModel)]=" UserProfile.lastname" formControlName="lastname" type="text" value="{{ UserProfile.lastname }}"><label class="active">Nom</label></div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="md-form"><input class="md-form-control" [(ngModel)]=" UserProfile.firstname" formControlName="firstname" type="text" value="{{ UserProfile.firstname }}"><label class="active">Prénoms</label></div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="input-group-icon input-group-icon-right mb-4">
                                          <div class="md-form mb-4"><input class="md-form-control m-0" [(ngModel)]=" UserProfile.address1" formControlName="address1" type="text" value="{{ UserProfile.address1 }}"><label class="active">Addresse </label><span class="input-icon input-icon-right"><i class="material-icons">place</i></span></div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="input-group-icon input-group-icon-right mb-4">
                                        <div class="md-form mb-4"><input class="md-form-control m-0" type="text" [(ngModel)]=" UserProfile.username" formControlName="username" value="{{ UserProfile.username }}"><label class="active"> Nom d'utilisateur</label><span class="input-icon input-icon-right"><i class="material-icons">info</i></span></div>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="input-group-icon input-group-icon-right mb-4">
                                          <div class="md-form mb-4"><input class="md-form-control m-0" type="text" prefix="+(221)" mask="99 999 99 99" [(ngModel)]=" UserProfile.phone_number" formControlName="phone_number" value="{{ UserProfile.phone_number }}"><label class="active">Numéro de téléphone</label><span class="input-icon input-icon-right"><i class="material-icons">phone</i></span></div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="input-group-icon input-group-icon-right mb-4">
                                          <div class="md-form mb-4"><input class="md-form-control m-0 active" [(ngModel)]=" UserProfile.email"  type="text" formControlName="email" value="{{ UserProfile.email }}"><label class="active">Email</label><span class="input-icon input-icon-right "><i class="material-icons">email</i></span></div>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                <button [disabled]="AccountForm.invalid"  class="btn btn-warning mr-2 waves-effect waves-light text-white" type="submit">Mettre à jour</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Mise à jour du mot de passe</h4>
                        <form [formGroup]="PasswordForm" (ngSubmit)="updatePassword()">
                          <div class="row" *ngIf="submitted && errors">
                            <div class="col">
                                  <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                                    {{ errors?.password }}
                                  </div>
                                  <div *ngIf="errors?.verification_password" class="alert alert-danger mt-3">
                                    {{ errors?.verification_password }}
                                  </div>
                                  <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                      {{ errors?.error }}
                                  </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label >Nouveau Mot de Passe</label>
                            <input formControlName="password"  type="password" value="" class="form-control" placeholder="">
                          </div>
                          <div class="form-group  col-md-6">
                            <label >Confirmation du mot de passe</label>
                            <input formControlName="verification_password" type="password" value="" class="form-control" placeholder="">
                          </div>
                            <div class="form-group ">
                              <button [disabled]="PasswordForm.invalid"  class="btn btn-warning mr-2 waves-effect waves-light text-white" type="submit">Mettre à jour</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </div>
      </div>
    </div>


  </div>
</div>
<!-- <script src="../assets_leden/vendors/jquery/dist/jquery.min.js"></script>
<script src="../assets_leden/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets_leden/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../assets_leden/js/app.min.js"></script> -->
