<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container" style="margin-top: 2%">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Panier</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Panier</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>



  <section class="cart shopping page-wrapper">
    <div class="container">
      <div class="py-4" *ngIf="totalItems <= 0">
        <h4 class="text-center alert alert-info">Aucun produit dans votre panier Actuellement...</h4>
      </div>
      <div *ngIf="totalItems > 0" class="row ">
        <div class="col-lg-8">
            <div class="product-list">
              <form class="cart-form">
                  <table datatable class="table shop_table shop_table_responsive cart" cellspacing="0">
                      <thead>
                        <tr>
                            <!-- <th class="product-thumbnail"> </th> -->
                            <th class="product-name">Produit</th>
                            <th class="product-price">Prix</th>
                            <th class="product-quantity">Quantité</th>
                            <th class="product-subtotal">Total</th>
                            <th class="product-remove"> Retirer </th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr class="cart_item" *ngFor="let cartItem of cartItemList">
                          <!-- <td></td> -->
                            <td class="product-name" data-title="Produit">
                                <a href="#">{{ cartItem.products.product_name }}</a>
                            </td>

                            <td class="product-price" data-title="Prix">
                                <span class="amount">
                                  <span class="currencySymbol">
                                    <pre wp-pre-tag-3=""></pre>

                                  </span>{{ cartItem.products.price | currency }}
                                </span>
                              <br/>
                            </td>

                              <td class="product-quantity" data-title="Quantité"><br>
                                <div class="quantity"><br>
                                    <label class="sr-only" >Quantité</label>
                                   <input type="number" id="qty" class="input-text qty text" step="1" min="0" max="9" value="{{ cartItem.prod_qty }}" title="Qty" size="4"  ><br>
                                </div>
                                <br>
                            </td><br>
                            <td class="product-subtotal" data-title="Total">

                                  {{ cartItem.products.price * cartItem.prod_qty | currency }}
                            </td>
                            <td class="product-remove" data-title="Retirer"><br>
                                <button (click)="removeProduct(cartItem.products.id,cartItem.products.product_name)" class="btn btn-trash  btn-danger" aria-label="Retirer ce produit"><i class="fa fa-trash"></i></button><br>
                            </td>
                        </tr>

                      </tbody><br>
                  </table><br>
              </form><br>
          </div><br>
        </div><br>
        <!-- <div *ngIf="cartItems.length > 0" class=""><br> -->
          <div class="col-lg-4"><br>
            <div class="cart-info card p-4 mt-4"><br>
                <h4 class="mb-4">Le total du Panier</h4>
                <ul class="list-unstyled mb-4"><br>
                  <li class="d-flex justify-content-between pb-2 mb-3"><br>
                    <h5>Sous Total</h5><br>
                    <span>{{ totalPrice | currency }}</span><br>
                  </li>
                   <li class="d-flex justify-content-between pb-2 mb-3"><br>
                    <h5>Livraison</h5><br>
                    <span>Gratuit</span><br>
                  </li>
                  <li class="d-flex justify-content-between pb-2"><br>
                    <h5>Total</h5><br>
                    <span>{{ totalPrice | currency }}</span><br>
                  </li><br>
                </ul><br>
                <a routerLink="/checkout" class="btn btn-warning text-white ">Procéder au checkout</a><br>
            </div><br>
          </div><br>
        <!-- </div><br> -->
      </div>


      </div><br>
  </section>

  <!-- <app-footer-ecom></app-footer-ecom> -->
