<app-header></app-header>
<section class="page-header">
  <div class="overlay"></div>
  <div class="container" style="margin-top: 2%">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Mes Adresses</h1>
          <!-- <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p> -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Adresse</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
    <app-menu></app-menu>
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <div class="acccount-settings">
          <h4 class="mb-4">Modifier Adresse</h4>
          <form [formGroup]="UserForm" (ngSubmit)="updateUserAddress()">
            <div class="form-row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Ville / Cité</label>
                  <input type="text" formControlName="city" class="form-control" value="{{ (UserProfile?.city!) != '' &&  (UserProfile?.city! !=  null) ? UserProfile?.city! : ''}}" placeholder="Renseigner votre ville">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Adresse de la rue</label>
                  <input type="text" class="form-control" formControlName="address1" value="{{ (UserProfile?.address1!) != '' &&  (UserProfile?.address1! !=  null) ? UserProfile?.address1! : '' }}" placeholder="Renseigner votre adresse">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Adresse de livraison</label>
                  <input type="text" class="form-control" formControlName="address2" value="{{ (UserProfile?.address2!) != '' &&  (UserProfile?.address2! !=  null) ? UserProfile?.address2! : ''}}" placeholder="Renseigner une adresse de livraison">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Numéro de téléphone</label>
                  <input type="text" prefix="+(221)" mask="99 999 99 99" class="form-control" formControlName="phone_number" value="{{ (UserProfile?.phone_number!) != '' &&  (UserProfile?.phone_number! !=  null) ? UserProfile?.phone_number! : ''}}" placeholder="Renseigner votre téléphone">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-dark">Enrégistrer Mise à jour</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-ecom></app-footer-ecom>
