<app-header></app-header>
<section class="page-header" style="margin-top: 3%">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Détail du Produit</h1>
          <!-- <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p> -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item"><a routerLink="/shop">Boutique</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.product_name }}</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <div class="carousel slide" data-ride="carousel" id="single-product-slider">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="product.feature_image != '' && product.feature_image != null  ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="" class="img-fluid">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{ product.product_name }}</h2>
          <!-- <div class="sku_wrapper mb-4">
            SKU: <span class="text-muted">AB1563456789 </span>
          </div> -->

          <hr>

          <h3 class="product-price">{{ product.price | currency}}
            <!-- <del>CFCFA119.90</del> -->
          </h3>

          <p class="product-description my-4 ">
            {{ product.description }}
          </p>

          <form class="cart" action="#" method="post">
            <div class="quantity d-flex align-items-center">
              <input type="number" #quantity class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" size="4" >
              <button [disabled]="product?.stock_qty == 0"  (click)="addToCart(product.id, quantity, product.stock_qty)" class="btn btn-main btn-small">Ajouter au panier</button>
            </div>
          </form>


          <div class="products-meta mt-4" >
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title">Catégorie :</span>
              <a href="#">{{ product.categories?.name }} </a>
              <!-- <a href="#">Soap</a> -->
            </div>

            <div class="product-share mt-5">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <nav class="product-info-tabs wc-tabs mt-5 mb-5">
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Commentaires(2)</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              {{ product.description != null || product.description != "" ? product.description : "Aucune description." }}

          </div>

          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col-lg-7">
              <div class="media review-block mb-4">
                <img src="assets_website/images/avater-1.jpg" alt="reviewimg" class="img-fluid mr-4">
                <div class="media-body">
                  <div class="product-review">
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                  </div>
                  <h6>Aristide <span class="text-sm text-muted font-weight-normal ml-3">-Lundi 25 Avril 2022</span></h6>
                  <p> Commentaire ficif.</p>
                </div>
              </div>

              <div class="media review-block">
                <img src="assets_website/images/avater-2.jpg" alt="reviewimg" class="img-fluid mr-4">
                <div class="media-body">
                  <div class="product-review">
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star"></i></span>
                    <span><i class="tf-ion-android-star-outline"></i></span>
                  </div>
                  <h6>Kokou <span class="text-sm text-muted font-weight-normal ml-3">-Vendredi 22 Avril 2022</span></h6>
                  <p>Produit Interessant.</p>
                </div>
              </div>
            </div>


            <div class="col-lg-5">
              <div class="review-comment mt-5 mt-lg-0">
                <h4 class="mb-3">Ajouter un commentaire</h4>

                <form action="#">
                  <div class="starrr"></div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Votre Nom">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Votre adresse email">
                  </div>
                  <div class="form-group">
                    <textarea name="comment" id="comment" class="form-control" cols="30" rows="4" placeholder="Votre commentaire"></textarea>
                  </div>

                  <a routerLink="/product-single" class="btn btn-main btn-small">Soumettre mon avis</a>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>Vous aimerez peut-être ceci</h2>
          <p>Les produits relatifs à {{ product.product_name }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="relatedProducts.length > 0" class="row">
      <div *ngFor="let product of relatedProducts" class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5" >
        <ng-container>
          <div class="product card" style="border-radius: 15px 15px 12px 12px ;border: 1px solid rgb(212, 211, 210);box-shadow: 1px 1px rgb(212, 211, 210)" >
            <div class="product-wrap">
              <a [routerLink]="['/product-single/', product.id]"><img style="height: 170px;border-radius: 15px 15px 2px 2px ; border: 1px solid rgb(151, 150, 148);box-shadow: 1px 1px rgb(128, 124, 124);" class="img-fluid w-100 mb-3 img-first" [src]="product.feature_image != '' && product.feature_image != null   ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="product-img" /></a>
              <!-- <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets_website/images/444.jpg" alt="product-img" /></a> -->
            </div>

            <div *ngIf="product.stock_qty !== 0">
              <div *ngIf="checkIfPopularProd(product.id)" class="popularStar">
                <small class="star-label">TOP 5</small>
                <span class="pstar fa fa-star"></span>
              </div>
              <span style="margin-top: 5%;margin-left: 40%" class="inStockLabel text-center">En stock</span><br/>
              <h6  class=" text-white badge badge-dark d-inline-flex p-2 qty-{{ product.id }} inStock" >
                X {{ product.stock_qty }} Disponible
                <span *ngIf="likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart text-danger"></i></span>
                <span *ngIf="!likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart"></i></span>

              </h6>
            </div>
            <div *ngIf="product.stock_qty == 0 || product.stock_qty == null">
              <div *ngIf="checkIfPopularProd(product.id)" class="popularStar">
                <small class="star-label">TOP 5</small>
                <span class="pstar fa fa-star"></span>
              </div>
              <span style="margin-top: 5%;margin-left: 40%" class="outOfStockLabel" >Indisponible</span><br/>
              <h6 style="" class=" text-white d-inline-flex p-2  badge badge-danger qty-{{ product.id }} outOfStock" >
                 En Rupture
                 <span *ngIf="likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart text-danger"></i></span>
                <span *ngIf="!likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart"></i></span>
              </h6>
            </div>

            <div class="product-hover-overlay">

              <div *ngIf=" addProdToCartIdProd == product.id" class="input-group" style="width: 180px;">
                <span class="input-group-prepend">
                  <button type="button"  (click)="removeAddCartBtn()" class="btn btn-danger" data-type="minus" data-field="quant[1]">
                      <span  class="fa fa-trash"></span>
                  </button>
                </span>
                <input  type="number" #quantity class="form-control" value="1" min="1" max="{{ product.stock_qty < 10 ?  product.stock_qty : 10}}">
                <span class="input-group-prepend">
                    <button type="button" (click)="addToCart(product.id, quantity, product.stock_qty)" class="btn btn-warning text-white" data-type="plus" data-field="quant[1]">
                        <span class="fa fa-shopping-cart"></span>
                    </button>
                </span>
                </div>
              <a (click)="addBtn(product.id)" *ngIf="(addProdToCartIdProd != product.id) " class="text-white" data-toggle="modal" data-target="#qty-product" ><i class="fa fa-cart-plus"></i></a>
              <a *ngIf="addProdToCartIdProd != product.id" href="#" data-toggle="modal" (click)="showDetail(product.id)" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
              <a *ngIf="addProdToCartIdProd != product.id " class="text-white" [ngStyle]="{'background-color': likedProdsId.includes(product.id) == true ? '#ff392f' : ''}"   (click)="tapLike(product.id)"><i class=" fa fa-heart"></i></a>
              <!-- <a class="text-white" style="background-color: #ff392f"   (click)="tapLike(product.id)"><i class=" fa fa-heart"></i></a> -->

            </div>

            <div class="product-info ">
              <h3 class="product-title h5 mb-0"><a [routerLink]="['/product-single/', product.id]">{{ product.product_name }}</a></h3>
              <div class="price card-footer" style="" >
                {{ product.price | currency }} <span *ngIf="checkIfProdInCart(product.id)"><i class="fa fa-shopping-cart shopCartBadge" matBadge="{{ getCartProdQty(product.id) }}" matBadgeColor="accent" ></i> </span>
              </div>
            </div>
         </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="relatedProducts.length <= 0 ">
      <h4>Aucun produit relatif à {{ product.product_name }}</h4>
    </div>
  </div>
</section>
<app-footer-ecom></app-footer-ecom>
