
<app-header></app-header>
<section class="page-header">
  <div class="overly"></div>
  <div class="container" style="margin-top: 2%">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Tableau de bord</h1>
          <!-- <p>Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which</p> -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <app-menu></app-menu>
      </div>


      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <p>Hello {{ UserProfile?.username }} (Pas {{ UserProfile?.username }} ? <a class="btn text-danger"  (click)="logout()" >Se Déconnecter</a>)</p>
        Depuis le tableau de bord de votre compte, vous pouvez consulter vos <a routerLink="/order">commandes récentes</a>, gérer vos <a routerLink="/edit-address">adresses de livraison</a> et <a routerLink="/profile-details">modifier votre mot de passe et les détails de votre compte</a> .
      </div>
    </div>
  </div>
</section>

<app-footer-ecom></app-footer-ecom>
