<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

    <div class="page-content fade-in-up">

        <div class="card">
          <div class="card-body">
            <h5 class="box-title">GESTION DES PRODUITS</h5>
            <div class="flexbox mb-4">
                <button type="button" (click)="addProd()"  class="btn btn-warning add text-white" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Ajouter un produit <i class="fa fa-plus"></i></button>

            </div>
            <div class="table-responsive">
                <div *ngIf="contentLoaded" class="row">
                  <app-skeleton-product-table></app-skeleton-product-table>
                </div>
                <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead class="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Produit</th>
                            <th>Catégorie </th>
                            <th>Prix </th>
                            <th>Description</th>
                            <th>Stock</th>
                            <th>Date d'ajout</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of products">
                        <td>
                          <img style="height: 80px;width: 100px;" [src]="product.feature_image != '' && product.feature_image != null   ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="" class="img-fluid mr-4">
                        </td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.categories.name}}</td>
                        <td>{{ product.price | currency }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.stock_qty }}</td>
                        <td>{{ product.created_at | date: 'dd/mm/yyyy HH:mm'}}</td>
                        <td>
                            <a href="#" [routerLink]="['/product/', 'edit', product.id  ]" data-toggle="modal" data-target="#exampleModal" (click)="editProduct(product.id, product.product_name, product.description, product.stock_qty,product.price, product.category_id, product.feature_image)" class="btn btn-warning text-white"><i class="fa fa-edit"></i></a>&nbsp;
                            <button type="button" (click)="removeProduct(product.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>

                    </tbody>
                </table>
            </div>
          </div>
        </div>

  </div>


</div>
    </div>
</div>
<app-footer></app-footer>


<!-- Modal add Product-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{ title_modal }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

            <div class="form-group" id="validation-errors"></div>
            <span>&nbsp;Les champs avec (<span class="text-danger">*</span>) sont obligatoires</span>
            <form [formGroup]="form" class="form" (ngSubmit)="addProduct()">
                <input type="hidden" name="id">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form">
                          <input type="text" class="md-form-control" [(ngModel)]="product.product_name" formControlName="product_name" ><label class="active">Nom du Produit<span class="text-danger">*</span></label>
                          <div *ngIf="f['product_name'].touched && f['product_name'].invalid" class="badge badge-danger">
                              <div *ngIf="f['product_name'].invalid">*Le nom du produit est obligatoire</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form">
                          <select name="category_id" class="md-form-control" id="" [(ngModel)]="product.category_id" formControlName="category_id">
                            <option value="0" [selected]="true">Choisir la catégorie</option>
                            <option value="{{ category.id }}" *ngFor="let category of categories">{{ category.name }}</option>
                          </select>
                          <!-- <input class="md-form-control" type="text" [(ngModel)]="product.category_id" formControlName="lastname"><label class="active">Catégorie du produit <span class="text-danger">*</span></label> -->
                          <div *ngIf="f['category_id'].touched && f['category_id'].invalid" class="badge badge-danger">
                            <div *ngIf="f['category_id']">*La catégorie est obligatoire</div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="md-form">
                          <input type="file" (change)="onFileSelected($event)" formControlName="feature_image" class="md-form-control"><label class="active">Image Produit</label>
                          <div  class="badge badge-danger">
                            <!-- <div *ngIf="f['image']">*L'email valide est obligatoire</div> -->
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="md-form">
                          <input class="md-form-control" type="number" formControlName="stock_qty" [(ngModel)]="product.stock_qty"><label class="active">Stock </label>
                          <!-- <div *ngIf="f['stock_qty'].touched && f['stock_qty'].invalid" class="badge badge-danger">
                            <div *ngIf="f['stock_qty']">*L'Identifiant est obligatoire</div>
                        </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="md-form">
                        <input type="number" min="0" class="md-form-control" [(ngModel)]="product.price" formControlName="price" ><label class="active">Prix du produit<span class="text-danger">*</span></label>
                        <div *ngIf="f['price'].touched && f['price'].invalid" class="badge badge-danger">
                            <div *ngIf="f['price'].invalid">*Le nom du produit est obligatoire</div>
                        </div>
                      </div>
                  </div>

              </div>

                <div class="md-form">
                  <textarea class="md-form-control" type="text" formControlName="description"></textarea><label >Description du produit </label>
                  <div *ngIf="f['description'].touched && f['description'].invalid" class="badge badge-danger">
                    <!-- <div *ngIf="f['password']">*Le mot de passe est obligatoire (min: 6 caractères)</div> -->
                </div>
                </div>


                  <button type="submit" [hidden]="!addProdBtn" class="btn btn-success btn-save" >Enrégistrer <i class="fa fa-save"></i></button>&nbsp;
                  <button type="button" [hidden]="!editProdBtn" (click)="updateProduct(product.id)" class="btn btn-warning btn-update text-white">Mettre à jour <i class="fa icons-reload" aria-hidden="true"></i></button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
            </form>
        </div>
      </div>
    </div>

  </div>

</div>

