<app-header></app-header>
<ngx-slick-carousel class="main-slider slider"   [config]="slideConfig" >
  <div ngxSlickItem class="slider-item " style="background-image:url('assets_website/images/')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Commandez vos produits maintenant</span>
            <h1 class="mt-2 mb-5"><span class="text-color">30% </span>de réduction</h1>
            <a routerLink="/shop" class="btn btn-warning text-white">ACHETER MAINTENANT</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem  class="slider-item" style="background-image:url('assets_website/images/')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Au</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Text</span> Perso 2</h1>
            <a routerLink="/shop" class="btn btn-warning text-white">ACHETER MAINTENANT</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngxSlickItem  class="slider-item" style="background-image:url('assets_website/images/'); background-position:50%;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Text</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Perso </span>3</h1>
            <a routerLink="/shop" class="btn btn-warning text-white">ACHETER MAINTENANT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>

<!-- <section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets_website/images/cat-1.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Stylish Leather watch</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Acheter</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets_website/images/cat-2.jpg" alt="" class="img-fluid">

          <div class="item-info">
            <p class="mb-0">Ladies hand bag</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>

            <a href="#" class="read-more">Acheter</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img  src="assets_website/images/cat-3.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Trendy shoe</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>

            <a href="#" class="read-more">Acheter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div  class="container">

  <div class="left-arrow pull-left mt-sm" style="float: left;">
    <button class="btn btn-secondary"  (click)="scrollLeft()"><i class="fa fa-arrow-left pointer"></i></button>
  </div>
  <div class="right-arrow pull-right mt-sm" style="float: right;">
    <button class="btn btn-secondary"  (click)="scrollRight()"><i class="fa fa-arrow-right pointer"></i></button>
  </div>
  <div *ngIf="contentLoaded" class="row">
    <app-skeleton-category></app-skeleton-category>
  </div>
  <div #widgetsContent  class="row scrolling-wrapper flex-nowrap custom-slider-main"   *ngIf="categories.length > 0">
    <div  *ngFor="let category of categories"  >
      <div class="col col-md-5 align-items-center">
        <div class="card info-box" style="border-radius: 50%">
            <div class="card-img-overlay align-items-center" style="border-radius: 50%; border: 2px solid #ccc; box-shadow: 2px 2px 2px rgb(228, 228, 228);">
              <a routerLink="/shop/category/{{ category.id }}"><img  style="border-radius: 50%" class="card-img" [src]="category.feature_image != '' && category.feature_image != null ? '../../assets_leden/img/categoriesProd/' + category.feature_image : '../../assets_leden/img/default.png'" alt="image" /></a>
            </div>

        </div>
        <div class="align-items-center text-center" style="margin-left: 65%">
          <h3 style="" class="badge badge-light">{{ category.name }}</h3>
        </div>
      </div>

    </div>
  </div>

  <div class="">



  </div>
</div>
<section  class="section products-main">
    <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="title text-center">
                      <h2>Nouveaux Produits</h2>
                      <p>Les produits de la Boutique</p>
                  </div>
              </div>

          </div>

          <div *ngIf="contentLoaded" class="row">
            <app-skeleton-product></app-skeleton-product>
          </div>
            <div class="row" *ngIf="products!.length > 0 ">

              <div *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: p }" class="col-md-3" >
                <ng-container>
                  <div class="product card m-1" style="border-radius: 15px 15px 12px 12px ;border: 1px solid rgb(212, 211, 210);box-shadow: 1px 1px rgb(212, 211, 210)" >
                    <div class="product-wrap">
                      <a [routerLink]="['/product-single/', product.id]"><img style="height: 170px;border-radius: 15px 15px 2px 2px ; border: 1px solid rgb(151, 150, 148);box-shadow: 1px 1px rgb(128, 124, 124);" class="img-fluid w-100 mb-3 img-first" [src]="product.feature_image != '' && product.feature_image != null   ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="product-img" /></a>
                      <!-- <a routerLink="/product-single"><img class="img-fluid w-100 mb-3 img-second" src="assets_website/images/444.jpg" alt="product-img" /></a> -->
                    </div>

                    <div *ngIf="product.stock_qty !== 0">
                      <div *ngIf="checkIfPopularProd(product.id)" class="popularStar">
                        <small class="star-label">TOP 5</small>
                        <span class="pstar fa fa-star"></span>
                      </div>
                      <!-- <span style="margin-top: 5%;margin-left: 40%" class="inStockLabel text-center">En stock</span> -->
                      <br/>
                      <h6  class=" text-white badge badge-dark d-inline-flex p-2 qty-{{ product.id }} inStock" >
                        X {{ product.stock_qty }}
                        <span *ngIf="likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart text-danger"></i></span>
                        <span *ngIf="!likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart"></i></span>

                      </h6>
                    </div>
                    <div *ngIf="product.stock_qty == 0 || product.stock_qty == null">
                      <div *ngIf="checkIfPopularProd(product.id)" class="popularStar">
                        <small class="star-label">TOP 5</small>
                        <span class="pstar fa fa-star"></span>
                      </div>
                      <!-- <span style="margin-top: 5%;margin-left: 40%" class="outOfStockLabel" >Indisponible</span> -->
                      <br/>
                      <h6 style="" class=" text-white d-inline-flex p-2  badge badge-danger qty-{{ product.id }} outOfStock" >
                         En Rupture
                         <span *ngIf="likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart text-danger"></i></span>
                        <span *ngIf="!likedProdsId.includes(product.id)">&nbsp; | <i class="fa fa-heart"></i></span>
                      </h6>
                    </div>

                    <div class="product-hover-overlay">

                      <div *ngIf=" addProdToCartIdProd == product.id" class="input-group" style="width: 180px;">
                        <span class="input-group-prepend">
                          <button type="button"  (click)="removeAddCartBtn()" class="btn btn-danger" data-type="minus" data-field="quant[1]">
                              <span  class="fa fa-trash"></span>
                          </button>
                        </span>
                        <input  type="number" #quantity class="form-control" value="1" min="1" max="{{ product.stock_qty < 10 ?  product.stock_qty : 10}}">
                        <span class="input-group-prepend">
                            <button type="button" (click)="addToCart(product.id, quantity, product.stock_qty)" class="btn btn-warning text-white" data-type="plus" data-field="quant[1]">
                                <span class="fa fa-shopping-cart"></span>
                            </button>
                        </span>
                        </div>
                      <a (click)="addBtn(product.id)" *ngIf="(addProdToCartIdProd != product.id) " class="text-white" data-toggle="modal" data-target="#qty-product" ><i class="fa fa-cart-plus"></i></a>
                      <a *ngIf="addProdToCartIdProd != product.id" href="#" data-toggle="modal" (click)="showDetail(product.id)" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                      <a *ngIf="addProdToCartIdProd != product.id " class="text-white" [ngStyle]="{'background-color': likedProdsId.includes(product.id) == true ? '#ff392f' : ''}"   (click)="tapLike(product.id)"><i class=" fa fa-heart"></i></a>
                      <!-- <a class="text-white" style="background-color: #ff392f"   (click)="tapLike(product.id)"><i class=" fa fa-heart"></i></a> -->

                    </div>

                    <div class="product-info ">
                      <h3 class="product-title h5 mb-2"><a [routerLink]="['/product-single/', product.id]">{{ product.product_name }}</a></h3>
                      <div class="price card-footer"  >
                        {{ product.price | currency }} <span *ngIf="checkIfProdInCart(product.id)"><i class="fa fa-shopping-cart shopCartBadge" matBadge="{{ getCartProdQty(product.id) }}" matBadgeColor="accent" ></i> </span>
                      </div>
                    </div>
                 </div>
                </ng-container>
              </div>

          </div>
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <a routerLink="/shop" class="btn btn-warning float-right text-white text-center">Consultez la boutique <i class="fa fa-arrow-right"></i> </a>

              </div>
            </div>
          </div>

          <div class="row" *ngIf="products!.length == 0" >
            <div class="col-md-4"></div>
            <div class="col-md-6" style="margin-top: 4%;">
              <span class="alert alert-secondary text-center">Aucun produit disponible dans la boutique ...</span>
            </div>
          </div>


    </div>
  </section>
  <!-- /portfolio -->

  <section class="ads section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-6">
        <div class="ads-content">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section products-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
          <img src="assets_website/images/order.webp" alt="Product big thumb"  class="img-fluid w-100">
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Plus Populaires</h4>
          <div *ngIf="contentLoaded" class="row">
            <app-skeleton-product-popular></app-skeleton-product-popular>
          </div>
          <div class="row" *ngFor="let product of popularProducts">
            <div class="media mb-3">
              <a class="featured-entry-thumb" [routerLink]="['/product-single/', product.id]">
                <img class="card-img" [src]="product.feature_image != '' && product.feature_image != null  ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="Product thumb" width="64" class="img-fluid mr-3">
              </a>
              <div class="media-body">
                <h6 class="featured-entry-title mb-0"><a [routerLink]="['/product-single/', product.id]">{{ product.product_name }}</a></h6>
                <p class="featured-entry-meta">{{ product.price | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Nouveaux Produits</h4>
          <div *ngIf="contentLoaded" class="row">
            <app-skeleton-product-popular></app-skeleton-product-popular>
          </div>
            <div class="row" *ngFor="let product of products  | slice:0:5">
              <div class="media mb-3"  >
                <a class="featured-entry-thumb" [routerLink]="['/product-single/', product.id]">
                  <img [src]="product.feature_image != '' && product.feature_image != null  ? '../../assets_leden/img/products/' + product.feature_image : '../../assets_leden/img/default.png'" alt="Product thumb" width="64" class="img-fluid mr-3">
                </a>
                <div class="media-body">
                  <h6 class="featured-entry-title mb-0"><a [routerLink]="['/product-single/', product.id]">{{ product.product_name }}</a></h6>
                  <p class="featured-entry-meta">{{ product.price | currency }}</p>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="features border-top">
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Livraison gratuite</h5>
            <p>Sur toute commande qui dépasse 10000 FCFA</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>Paiement partagé</h5>
            <p>Partager votre paiement avec vos amis</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Checkout Sécurisé</h5>
            <p>100% Protected By Orange Money et Wave</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>Contactez-nous en cas de problème</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="border: 1px solid orange">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Détails du produit: {{ productDetail?.product_name }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body">

                <div class="row">
                  <div class="col-md-5">
                    <div class="single-product-slider">
                      <div class="carousel slide" data-ride="carousel" id="single-product-slider">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img [src]="productDetail?.feature_image != '' && productDetail?.feature_image != null  ? '../../assets_leden/img/products/' + productDetail?.feature_image : '../../assets_leden/img/default.png'" alt="" class="img-fluid">
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="single-product-details mt-5 mt-lg-0">
                      <h2>{{ productDetail?.product_name }}</h2>
                      <div class="sku_wrapper mb-4">
                       <span *ngIf="productDetail?.stock_qty != 0" class="text-muted">En Stock </span>
                       <span *ngIf="productDetail?.stock_qty == 0" class="text-danger">Indisponible</span>
                      </div>

                      <hr>

                      <h3 class="product-price">{{ productDetail?.price | currency}} <del>CFCFA119.90</del></h3>

                      <p class="product-description my-4 ">
                        {{ productDetail?.description }}
                      </p>

                      <form class="cart" action="#" method="post">
                        <div class="quantity d-flex align-items-center" >
                          <input type="number" #quantity class="input-text qty text form-control w-25 mr-3" step="1" min="1" max="9" name="quantity" value="1" title="Qty" size="4" >
                          <button [disabled]="productDetail?.stock_qty == 0"  (click)="addToCart(productDetail.id, quantity, productDetail.stock_qty)"   class="btn btn-warning text-white">Ajouter au panier</button>
                        </div>
                      </form>


                      <div class="products-meta mt-4">
                        <div class="product-category d-flex align-items-center">
                          <!-- <span class="font-weight-bold text-capitalize product-meta-title">Catégorie :</span> -->
                          <span *ngFor="let category of productDetail?.categories | keyvalue">
                            <!-- <a href="#" class="badge badge-dark text-white">{{ category.value}} </a> -->
                          </span>

                          <!-- <a href="#"></a> -->
                        </div>

                        <div class="product-share mt-5">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#"><i class="tf-ion-social-pinterest"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
        <div class="card-footer">
          <div class="col-md-5"></div>
          <div class="col-md-5">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer <i class="fa fa-times"></i></button>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<app-footer-ecom></app-footer-ecom>
