.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.left-arrow {
  position: relative;
  margin-top: 7%
}
.right-arrow {
  position: relative;
  margin-top: 7%
}
.info-box{
  width: 170px;
  height: 170px;
  align-items: center;
}

.custom-slider-main{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
