

<div class="page-wrapper">
  <div class="content-wrapper">
    <app-left-bar></app-left-bar>
    <div class="content-area">
      <app-top-bar></app-top-bar>

      <div class="page-content fade-in-up">

        <div class="card">
          <div class="card-body">
            <h5 class="box-title">GESTION DES COMMANDES / <span><u>CAISSIER</u></span></h5>
              <div class="flexbox mb-4">

              </div>
              <div *ngIf="orders_cashiers.length > 0 " class="row">

                <div *ngFor="let order of orders_cashiers | paginate: { itemsPerPage: 6, currentPage: p }" class="col col-md-4 orderItem " style="margin-bottom: 2%;">
                  <div class="card" id="order1" style="border: 0.1px solid peru; ">
                    <div class="card-cup bg-dark text-white justify-content-center">
                        <h4 class="mb-0"> <span class="badge badge-light">N* {{ order.id }}</span>  </h4>
                        <button *ngIf="(order.status != 'completed') && (order.status != 'processing') && (order.status !='ready-kitchen') && (order.status != 'delivered') && (order.status != 'cancelled')"  style="margin-left: 60%" (click)="cancelOrder(order.id)" [disabled]="(order.status == 'completed') || (order.status =='ready-kitchen') || (order.status == 'delivered') || (order.status == 'cancelled')" class="btn  text-danger ">
                          <i class="tf-ion-close"></i>
                        </button>
                    </div>
                  <div class="card-body">
                      <h5 class="card-title text-dark font-weight-bold">Détails de la commande </h5>
                      <table >
                          <tbody style="display: block;height:100px; overflow-y: auto; ">
                            <tr *ngFor="let order_product of order.order_products">
                              <td style="margin: 2px" class="">
                                <img  class="rounded shadow" [src]= "order_product.product.feature_image != '' ? '../../assets_leden/img/products/' + order_product.product.feature_image : '../../assets_leden/img/default.png'" alt="image"  width="60" height="30"/>&nbsp;
                                 {{ order_product.product.product_name }}

                                 <span >{{ order_product.product.price | currency}} | <span style="color: black">X {{ order_product.product_qty }}</span> </span><hr/>
                              </td>
                            </tr>
                                  <!-- ${data.orders[i].line_items.map(prod => `<tr><td>${prod.name} :</td><td> <span class="text-white badge badge-dark"> ${(parseInt(prod.subtotal_tax) + parseInt(prod.subtotal)) / prod.quantity } X ${prod.quantity} </span></td>`).join('\n      ')} -->
                          <tbody>
                      </table>
                      <br/>
                      <div class="text-muted font-13">Total :
                        <span style='color: red; font-weight: bold;'>{{ order.total_price | currency}}</span>  /
                        <span class="text-dark" *ngIf="order.payment_channel == 1 "><img src="../../../assets_leden/img/cash.png" height="20" width="35"/> Paiement cash</span>
                        <span class="text-dark" *ngIf="order.payment_channel == 2 "><img src="../../../assets_leden/img/orange_money.png" height="20" width="35"/> Paiement Orange Money</span>
                        <span class="text-dark" *ngIf="order.payment_channel == 3 "><img src="../../../assets_leden/img/wave.png" height="20" width="35"/> Paiement Wave</span>
                      </div>
                      <div class="text-muted font-13">Commandé à : {{ order.created_at | date:'HH:mm'}}</div>
                      <div class="text-muted font-13">Statut  :
                        <span class="badge badge-warning text-white" *ngIf="order.status == 'on-hold'">En attente de paiement</span>
                        <span class="badge badge-light text-dark" *ngIf="order.status == 'completed'">Payé | En traitement</span>
                        <span class="badge badge-light text-dark" *ngIf="order.status == 'processing'">En cours de prépa.</span>
                        <span class="badge badge-light text-dark" *ngIf="order.status == 'ready-kitchen'">Pret en cuisine</span>
                        <span class="badge badge-light text-dark" *ngIf="order.status == 'cancelled'">Annulé</span>

                      </div>
                      <hr>
                      <div class="flexbox">

                        <button data-target="#OrderDone" on-click="cashMoneyByCashier(order.id)" data-whatever="@getbootstrap"  class="btn btn-danger collectCash" [disabled]="(order.status == 'completed') || (order.status == 'processing') || (order.status =='ready-kitchen') || (order.status == 'delivered')  || (order.status == 'cancelled')"  href="#"> <i class="fa fa-check"></i>{{ order.status == "on-hold" ? " Encaisser" : " Déja Encaissé" }}</button>
                          <div>
                            <button class="btn btn-success deliverOrder" on-click="deliveredOrder(order.id)" [disabled]="(order.status == 'on-hold') || (order.status == 'completed') || (order.status == 'processing') || (order.status == 'cancelled') || (order.status == 'failed') " id="orderDone" type="button"  ><i class="fa fa-check"></i>{{ order.status !== "delivered"  ? " Livrer" : " Déja livré"}}</button>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
              </div>
              <div class="col-8" *ngIf="orders_cashiers.length! > 0">
                <nav aria-label="Page navigation">
                  <pagination-controls class="my-pagination float-right" (pageChange)="p = $event"
                  previousLabel="Précédent"
                  nextLabel="Suivant"></pagination-controls>
                </nav>
                <button class="btn btn-warning text-white text-center" on-click="showDatatable()"> <i class="fa fa-list"></i> Afficher plus de commandes</button>

              </div>
              <br/>
              <div *ngIf="orders_cashiers.length <= 0"> Aucune commande en attente actuellement</div>
          </div>
        </div>

        <div *ngIf = "!isShow" class="card">
          <div class="card-body">
            <app-order-cashier-datatable ></app-order-cashier-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
