.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.my-pagination /deep/ .ngx-pagination .current {
  background: orangered;
}
.btn{
  border: 1px solid white;
  box-shadow: 1px 1px 2px rgb(190, 187, 187) ;
}
