<app-header></app-header>

<div class="account section">
  <div class="container">
    <div class="auth-wrapper">
      <div>
          <div class="card">
              <div class="text-center"><span class="auth-head-icon text-primary"><i class="la la-key"></i></span></div>
              <div class="card-body pt-1">
                  <h4 class="text-center mb-4">Réinitialisation de mot de passe</h4>
                  <p class="mb-4 text-center">Entrez votre adresse e-mail ci-dessous et nous vous enverrons des instructions de réinitialisation du mot de passe.</p>
                  <form id="reset-password-form" [formGroup]="ResetPasswordForm" (ngSubmit)="ResetPassword()">
                    <div class="alert alert-danger" [hidden]="!error">
                      {{ error }}
                    </div>
                      <div class="md-form mb-0">
                        <input class="md-form-control" type="email" formControlName="email" name="email"><label>Email</label>
                        <div *ngIf="f['email'].touched && f['email'].dirty && f['email'].invalid" class="text-danger">
                          <div *ngIf="f['email']">*Un email valide est obligatoire</div>
                      </div>
                      </div>
                      <button [disabled]="!ResetPasswordForm.valid" class="btn btn-warning btn-rounded btn-block mt-4 text-white">SOUMETTRE <i class="fa fa-arrow-right"></i></button>
                      <a  routerLink="/login_pos" class="btn btn-success btn-rounded btn-block mt-4 text-white">SE CONNECTER <i class="fa fa-arrow-right"></i></a>

                  </form>
              </div>
          </div>
          <div class="text-center text-muted font-13">2022 © All rights reserved</div>
          <div >
            <a class="btn btn-secondary home-link" routerLink="/"><span class="btn-icon"><i class="ti-arrow-left font-20"></i>Allez à la page d'accueil</span></a>

          </div>

      </div>
  </div>
  </div>
</div>
<script>
  $(function() {
      $('#reset-password-form').validate({
          rules: {
              email: {
                  required: true,
                  email: true
              },
          },
          errorClass: 'invalid-feedback',
          validClass: 'valid-feedback',
          errorPlacement: function(error, element) {
              if (element.hasClass('md-form-control')) {
                  error.insertAfter(element.closest('.md-form'));
              } else {
                  error.insertAfter(element);
              }
          },
          highlight: function(e) {
              $(e).addClass("invalid").removeClass('valid');
          },
          unhighlight: function(e) {
              $(e).removeClass("invalid").addClass('valid');
          },
      });
  });
</script>
<app-footer-ecom></app-footer-ecom>
