body {
	background-color: #eff4ff;
}
.auth-wrapper {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 15px 30px 15px;
}
.auth-wrapper .card {
		max-width: 400px;
		flex-basis: 400px;
		box-shadow: 0 5px 20px #d6dee4;
}
.auth-head-icon {
		position: relative;
		height: 60px;
		width: 60px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		background-color: #fff;
		box-shadow: 0 5px 20px #d6dee4;
		border-radius: 50%;
		transform: translateY(-50%);
		z-index: 2;
}
.home-link {
		position: absolute;
		left: 25px;
		top: 100px;
}
