
  <div  class="dropup text-white">

   <div  class="dropdown-menu cart-nav list-inline-item cart-dropdown" style="position: fixed;">
    <div *ngIf="totalItems > 0" style="height: 250px; width: 320px; overflow-y: scroll;">
      <div *ngFor="let cartItem of cartItemList"  >
        <!-- Cart Item -->
        <div class="media">
          <a [routerLink]="['/product-single/', cartItem.products.id]">
            <img class="media-object img- mr-3" [src]="cartItem.products.feature_image != ''  ? '../../assets_leden/img/products/' + cartItem.products.feature_image : '../../assets_leden/img/default.png'" alt="image" />
          </a>
          <div class="media-body">
            <h6> <a [routerLink]="['/product-single/', cartItem.products.id]">{{ cartItem.products.product_name }}</a></h6>
            <div class="cart-price">
              <span>{{ cartItem.prod_qty }} x </span>
              <span>{{ cartItem.products.price | currency }}</span>
            </div>
          </div>
          <a (click)="removeProduct(cartItem.products.id,cartItem.products.product_name)"  class="btn remove"><i class="tf-ion-close"></i></a>
        </div><!-- / Cart Item -->
        </div>
    </div>
    <div *ngIf="cartItemList.length <= 0" >
      <span class="text-center">Aucun produit dans le panier</span>
    </div>

    <div class="cart-summary">
      <span class="h6">Total</span>
      <span class="total-price h6">{{ totalPrice | currency }}</span>

      <div class="text-center cart-buttons mt-3 align-items-center">
        <a routerLink="/cart" class="btn btn-small btn-transparent btn-block">Voir le panier</a>
        <a *ngIf="cartItemList.length > 0" routerLink="/checkout" class="btn btn-warning text-white btn-block">Checkout</a>
        <a  class="btn btn-danger text-white btn-block" (click)="showCartDetails()" ><i class="tf-ion-close"></i></a>

      </div>
    </div>
  </div>
    <a (click)="showCartDetails()" data-toggle="dropdown"  class="float dropdown-toggle"  data-placement="top" title="Consultez votre panier">
      <i  class="fa fa-cart-plus my-float text-white"></i>
      <i matBadge="{{ totalItems }}" matBadgeColor="warn" style="margin-bottom: 50%;" class="fa "></i>
    </a>
  </div>

<div class="footer-btm py-4 ">
  <div class="container">

    <div class="row ">
       	<div class="col-lg-6">
       		<p class="copyright mb-0 ">@ Copyright <a href="">LEDEN GROUP</a></p>
       	</div>
       	<div class="col-lg-6">
       		 <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
                <li class="list-inline-item"><a href="#">Terms &amp; Conditions</a></li>
                <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                <li class="list-inline-item"><a href="#">Terms of Sale</a></li>
              </ul>
       	</div>
       </div>
  </div>
</div>
